{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "RabbitMQConnection": {
    "ConnectionString": "host=hostip;username=username;password=password",
    "SubscriberName": "test",
    "PrefetchCount": 10
  }
}
