Content-Type: text/html; charset=utf-8

<p>Dobrý den.</p>

<p>
    Na serveru HlidacStatu.cz jste požádali o nové heslo pro přihlášení.
    Heslo si můžete změnit na této stránce:<br />
    <a href='@Model.CallbackUrl'>@Model.CallbackUrl</a>.


</p>

<p>V případě, že jste o změnu hesla nežádali, tento email ignorujte.</p>


@Raw(Model.EmailFooterHtml)

