@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Zkontrolujte si váš email, právě jsme vám poslali instrukce jak si změnit heslo. 
    </p>
    <p>Zkontrolujte i složku s nevyžádanou poštou (Spam, Junk mail).</p>
</div>
	
