@model HlidacStatu.Web.Models.SendCodeViewModel
@{
    ViewBag.Title = "Dokončení registrace v emailu";
}


<p>
    Poslali jsme vám zprávu na uvedený email pro potvrzení registrace. V emailu je uvedený link, na který musíte kliknout.
</p>

<div class="bs-callout bs-callout-warning">
    <h4>Žádný email nepřišel?</h4>
    <p>
        Email je odeslán z adresy <b>info@hlidacstatu.cz</b>.
        Může se stát, že email je doručen do složky "Spam", "Junk mail", "Nevyžádaná pošta" apod. Zkontrolujte i tyto složky.
    </p>
</div>