@{
    ViewBag.Title = "Potvrzení změny přístupového hesla";
}

<div>
    <p>
        Vaše heslo bylo změněno. @Html.ActionLink("Zde se zalogujte.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
