<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NumOfInstances" value="3" />
    <add key="ListeningUrl" value="http://local.ocr.hlidacstatu.cz:9090"/>
    <add key="ChromeBinaryFullPath" value=""/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.0" newVersion="1.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>