<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Devmasters.Core" version="1.472.4" targetFramework="net472" />
  <package id="Devmasters.Imaging" version="1.472.1.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.16" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Nancy" version="1.4.5" targetFramework="net472" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net472" />
</packages>