

<div class="panel panel-warning" style="margin-top:40px;">
    <div class="panel-heading">
        <h3 class="panel-title">Databáze nově na Hlídači</h3>
</div>
    <div class="panel-body">
        <p>
            Pokud máte tip na zajímavý zdroj dat, <a onclick="return trackOutLink(this,'data');" href="https://platforma.hlidacstatu.cz/t/datove-zdroje-vhodne-pro-zpracovani-tipy-a-napady/320" target="_blank">podělte se s ostatními</a>.
            Anebo se <a onclick="return trackOutLink(this,'data');" href="https://platforma.hlidacstatu.cz/t/datove-zdroje-vhodne-pro-zpracovani-tipy-a-napady/320" target="_blank">koukněte na nápady ostatních</a>.
        </p>
        <p>
            Chybí vám zde nějaká data? <a onclick="return trackOutLink(this,'data');" href="/api">Přidejte je a pomozte i ostatním, je to snadné</a>.

        </p>
    </div>
</div>
