@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Lib.Data.Dotace;
@using HlidacStatu.Lib.Render;

@{

    ViewBag.Title = "Hlídač dotací";
    //ViewBag.SubTitle = "k " + HlidacStatu.Util.RenderData.ToDate(dataForDate);


}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">Hlídač Dotací</li>
    </ol>
}

@Html.Partial("_SearchForm", new HlidacStatu.Lib.Searching.DotaceSearchResult())

<h2>Informace k dotacím</h2>
<div>
    <p>Zpracováváme dotace z následujících zdrojů:</p>
    <ul>
        <li>
            Cedr - kompletní
        </li>
        <li>
            EU Fondy - podařilo se nám dohledat dotace od roku 2014 do současnosti
        </li>
        <li>
            DotInfo - kompletní
        </li>
        <li>
            SZIF - od roku 2014 do roku 2018 (novější zatím nejsou k dispozici)
        </li>
        <li>
            Czech Invest - kompletní
        </li>
    </ul>
    <p>Některé dotace se mohou objevit vícekrát - strojově v tuto chvíli nejsme schopni detekovat duplicity, protože stav dat v jednotlivých zdrojích neumožní přesné detekování duplicit. Proto celková hodnota udávaná při vyhledávání je pouze orientační, námi vypočtená částka.</p>

</div>


<h2>Jak vyhledávat v dotacích</h2>
<div>
    <dl>
        <dt>Hledat všechna zadaná slova v různých tvarech</dt>
        <dd>
            <kbd>varhany výstavba</kbd> <a class="small"
                                           href="/dotace/hledat?Q=varhany+výstavba" target="_blank">
                Zkusit <i class="fas fa-external-link-alt"></i>
            </a>

            <br>Hledá dotace obsahující všechna uvedená slova v různých mluvnických tvarech
        </dd>
        <dt>Hledat přesně slovo nebo sousloví</dt>
        <dd>
            <kbd>"Stavíme dům"</kbd> <a class="small" href="/dotace/hledat?q=%22Stavíme dům%22"
                                        target="_blank"><i class="fas fa-external-link-alt"></i></a>

            <br>Hledá dotace obsahující uvedená slova či sousloví přesně jak je v uvozovkách
        </dd>
        <dt>Hledat kterékoliv ze zadaných slov</dt>
        <dd>
            mezi všechna požadovaná slova vložte operátor OR<br> <kbd>miniaturní OR standardní</kbd> <a class="small"
                                                                                                        href="/dotace/hledat?Q=miniaturní+OR+standardní" target="_blank">
                <i class="fas fa-external-link-alt"></i>
            </a>

            <br>Hledá dotace obsahující alespoň jedno z uvedených slov
        </dd>
        <dt>Toto slovo tam být nesmí</dt>
        <dd>
            Před slova, která nechcete, zadejte znaménko mínus<br><kbd>solární -systémy -systém</kbd> <a class="small"
                                                                                                         href="/dotace/hledat?Q=solární+-systémy+-systém" target="_blank">
                <i class="fas fa-external-link-alt"></i>
            </a>

            <br>Hledá dotace se slovem solární, kde se zároveň nevyskytují slova "systémy" a "systém"

        </dd>
        <dt>Kombinace výrazů</dt>
        <dd>
            Všechny výše i níže uvedené výrazy hledání je možné kombinovat logickými operátory <kbd>AND</kbd>
            a <kbd>OR</kbd> (velká písmena jsou nutná).
            Pokud jsou výrazy odděleny mezerou, je to stejné jako použití operátora <kbd>AND</kbd>.
        </dd>
        <dt>Logické a rozšiřující operátory</dt>
        <dd>
            Mezi jednotnotlivými částmi dotazu můžete používat operátory <kbd>AND</kbd> a <kbd>OR</kbd>.<br>
            Můžete používat zástupné znaky (wildcards) <kbd>?</kbd> - zastupuje 1 znak, nebo <kbd>*</kbd>zastupující
            více znaků. Příklad:<kbd>vila tug*</kbd><br>
            Příklad: <kbd>ico:00216208 AND penb</kbd>
        </dd>

    </dl>
    <h2>Specifické hledání podle konkrétních položek v dotacích</h2>

    <dl>
        <dt>Prohledávat specifické položky v databázích</dt>
        <dd>
            napište prefix s ":" bez mezery následovaný hledanou hodnotou<br><kbd>ico:44992785</kbd>
            hledá smlouvy kde je jednou ze stran Statutární město Brno (ICO 44992785).
            <br><br>
            Pokud hledaná hodnota obsahuje mezery, musí být v uvozovkách <kbd>jmeno:"Ředitelství silnic a dálnic"</kbd>
        </dd>
    </dl>
    <h2>Podporované prefixy / hledatelné položky v DB</h2>
    <dl>
        <dt>Fungující v dotacích</dt>
        <dd>
            <kbd>ico:12345678</kbd> - jedna ze smluvních stran má uvedené IČO<br>
            <kbd>osobaid:oznaceni-osoby</kbd> - smlouvy s vazbou na osobu. Oznacení osoby najdete u profilu osoby (např.
            andrej-babis)<br>
            <kbd>holding:12345678</kbd> - IČO matky holdingu, hledá se pro všechny firmy holdingu<br>
            <br>
            <br>
            <kbd>projekt:"název projektu"</kbd> - dotace se specifickým názvem projektu (např. "TJ Vodní stavby Tábor")<br />
            <kbd>kod:"kód projektu"</kbd> - dotace podle kódu projektu (např. "CZ.03.2.60/0.0/0.0/16_064/0006407")<br />
            <kbd>jmeno:"jméno příjemce"</kbd> - dotace, kde jméno příjemce odpovídá zadanému výrazu ("Ředitelství silnic a dálnic")<br />
            <kbd>castka:&gt;castka</kbd> - dotace s částkou vyšší než. Možno použí i <kbd>&gt;=</kbd> <kbd>&lt;=</kbd>
            <kbd>&lt;</kbd><br />
        </dd>
    </dl>
</div>

<h2>Ukázky možností</h2>
<ul>
    <li>
        Hledání podle IČO - <a href="/dotace/hledat?Q=ico:00190489">Nemocnice Pardubice</a>, <a href="/dotace/hledat?Q=ico:70994234">SŽDC</a>
    </li>
    <li>
        Hledání podle příjemce - <a href="/dotace/hledat?Q=jmeno:'Ředitelství silnic a dálnic ČR'">ŘSD</a>, <a href="/dotace/hledat?Q=jmeno:univerzita">Univerzita</a>
    </li>
    <li>
        Hledání podle osoby - <a href="/dotace/hledat?Q=osobaid:andrej-babis">Andrej Babiš</a>, <a href="/dotace/hledat?Q=osobaid:zdenek-bakala-2">Zdeněk Bakala</a>
    </li>

</ul>







