

<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div style="font-size:125%"><strong>Pozor!</strong> Tato stránka je dostupná pouze pro vás jako novináře, veřejnost na ni nemá přístup.</div>
    <div>Důvodem jsou osobní údaje, které nemohou být dostupné široké veřejnosti</div>
</div>
