@model HlidacStatu.Web.Models.SoudViewModel

@*zdroj dat: https://ispis.cz/soudy*@

@switch (Model.Soud)
{
	case "NS":
		<span> Nejvyšší soud </span>
		break;
	case "US":
		<span>Ústavní soud</span>
		break;
	case "NSS":
		<span>Nej. Správní soud</span>
		break;
	case "KSJIMBM":
		<span>Krajský soud v Brně</span>
		break;
	case "KSJICCB":
		<span>Krajský soud v Českých Budějovicích</span>
		break;
	case "KSVYCHK":
	case "KSVYCHKP1":
		<span>Krajský soud v Hradci Králové</span>
		break;
	case "KSVYCPA":
		<span>Krajský soud v Hradci Králové pobočka Pardubice</span>
		break;
	case "KSSEMOS":
	case "KSSEMOSP1":
		<span>Krajský soud v Ostravě</span>
		break;
	case "KSSEMOC":
		<span>Krajský soud v Ostravě pobočka Olomouc</span>
		break;
	case "KSZPCPM":
		<span>Krajský soud v Plzni</span>
		break;
	case "KSSTCAB":
		<span>Krajský soud v Praze</span>
		break;
	case "KSSCEUL":
		<span>Krajský soud v Ústí nad Labem</span>
		break;
	case "KSSCELB":
	case "KSSECULP1":
		<span>Krajský soud v Ústí nad Labem pobočka Liberec</span>
		break;
	case "MSPHAAB":
		<span>Městský soud v Praze</span>
		break;
	case "VSSTCAB":
		<span>Vrchní soud v Praze</span>
		break;
	case "VSSEMOC":
		<span>Vrchní soud v Olomouci</span>
		break;
	case "OSJIMBM":
		<span>Městský soud v Brně</span>
		break;
	case "OSPHA01":
		<span>Obvodní soud pro Prahu 1</span>
		break;
	case "OSPHA02":
		<span>Obvodní soud pro Prahu 2</span>
		break;
	case "OSPHA03":
		<span>Obvodní soud pro Prahu 3</span>
		break;
	case "OSPHA04":
		<span>Obvodní soud pro Prahu 4</span>
		break;
	case "OSPHA05":
		<span>Obvodní soud pro Prahu 5</span>
		break;
	case "OSPHA06":
		<span>Obvodní soud pro Prahu 6</span>
		break;
	case "OSPHA07":
		<span>Obvodní soud pro Prahu 7</span>
		break;
	case "OSPHA08":
		<span>Obvodní soud pro Prahu 8</span>
		break;
	case "OSPHA09":
		<span>Obvodní soud pro Prahu 9</span>
		break;
	case "OSPHA10":
		<span>Obvodní soud pro Prahu 10</span>
		break;
	case "OSSTCBN":
		<span>Okresní soud v Benešově</span>
		break;
	case "OSSTCBE":
		<span>Okresní soud v Berouně</span>
		break;
	case "OSJIMBK":
		<span>Okresní soud v Blansku</span>
		break;
	case "OSJIMBO":
		<span>Okresní soud Brno-Venkov</span>
		break;
	case "OSSEMBR":
		<span>Okresní soud v Bruntále</span>
		break;
	case "OSSEMKR":
		<span>Okresní soud v Bruntále - poboèka Krnov</span>
		break;
	case "OSJIMBV":
		<span>Okresní soud v Břeclavi</span>
		break;
	case "OSSCECL":
		<span>Okresní soud v České Lípě</span>
		break;
	case "OSJICCK":
		<span>Okresní soud v Českém Krumlově</span>
		break;
	case "OSJICCB":
		<span>Okresní soud v Českých Budějovicích</span>
		break;
	case "OSZPCCH":
		<span>Okresní soud v Chebu</span>
		break;
	case "OSSCECV":
		<span>Okresní soud v Chomutově</span>
		break;
	case "OSVYCCR":
		<span>Okresní soud v Chrudimi</span>
		break;
	case "OSSCEDC":
		<span>Okresní soud v Děčíně</span>
		break;
	case "OSZPCDO":
		<span>Okresní soud v Domažlicích</span>
		break;
	case "OSSEMFM":
		<span>Okresní soud ve Frýdku-Místku</span>
		break;
	case "OSVYCHB":
		<span>Okresní soud v Havlíčkovì Brodě</span>
		break;
	case "OSJIMHO":
		<span>Okresní soud v Hodoníně</span>
		break;
	case "OSVYCHK":
		<span>Okresní soud v Hradci Králové</span>
		break;
	case "OSSCEJN":
		<span>Okresní soud v Jablonci nad Nisou</span>
		break;
	case "OSSEMJE":
		<span>Okresní soud v Jeseníku</span>
		break;
	case "OSJIMJI":
		<span>Okresní soud Jihlava</span>
		break;
	case "OSVYCJC":
		<span>Okresní soud v Jičíně</span>
		break;
	case "OSJICJH":
		<span>Okresní soud v Jindřichově Hradci</span>
		break;
	case "OSZPCKV":
		<span>Okresní soud v Karlových Varech</span>
		break;
	case "OSSEMKA":
		<span>Okresní soud v Karviné</span>
		break;
	case "OSSEMHA":
		<span>Okresní soud v Karviné pobočka Havířov</span>
		break;
	case "OSSTCKL":
		<span>Okresní soud v Kladně</span>
		break;
	case "OSZPCKT":
		<span>Okresní soud v Klatovech</span>
		break;
	case "OSSTCKO":
		<span>Okresní soud v Kolíně</span>
		break;
	case "OSJIMKM":
		<span>Okresní soud v Kroměříži</span>
		break;
	case "OSSTCKH":
		<span>Okresní soud v Kutné Hoře</span>
		break;
	case "OSSCELB":
		<span>Okresní soud v Liberci</span>
		break;
	case "OSSCELT":
		<span>Okresní soud v Litoměřicích</span>
		break;
	case "OSSCELN":
		<span>Okresní soud v Lounech</span>
		break;
	case "OSSTCME":
		<span>Okresní soud v Mělníku</span>
		break;
	case "OSSTCMB":
		<span>Okresní soud v Mladé Boleslavi</span>
		break;
	case "OSSCEMO":
		<span>Okresní soud v Mostě</span>
		break;
	case "OSVYCNA":
		<span>Okresní soud v Náchodě</span>
		break;
	case "OSSEMNJ":
		<span>Okresní soud v Novém Jičíně</span>
		break;
	case "OSSTCNB":
		<span>Okresní soud v Nymburce</span>
		break;
	case "OSSEMOC":
		<span>Okresní soud v Olomouci</span>
		break;
	case "OSSEMOP":
		<span>Okresní soud v Opavě</span>
		break;
	case "OSSEMOS":
		<span>Okresní soud v Ostravě</span>
		break;
	case "OSVYCPA":
		<span>Okresní soud v Pardubicích</span>
		break;
	case "OSJICPE":
		<span>Okresní soud v Pelhřimově</span>
		break;
	case "OSJICPI":
		<span>Okresní soud v Písku</span>
		break;
	case "OSSEMPR":
		<span>Okresní soud v Přerově</span>
		break;
	case "OSSTCPB":
		<span>Okresní soud v Příbrami</span>
		break;
	case "OSZPCPJ":
		<span>Okresní soud Plzeň-jih</span>
		break;
	case "OSZPCPM":
		<span>Okresní soud Plzeň-Město</span>
		break;
	case "OSZPCPS":
		<span>Okresní soud Plzeň-sever</span>
		break;
	case "OSJICPT":
		<span>Okresní soud Prachatice</span>
		break;
	case "OSSTCPY":
		<span>Okresní soud Praha-východ</span>
		break;
	case "OSSTCPZ":
		<span>Okresní soud Praha-západ</span>
		break;
	case "OSJIMPV":
		<span>Okresní soud v Prostějově</span>
		break;
	case "OSSTCRA":
		<span>Okresní soud v Rakovníku</span>
		break;
	case "OSZPCRO":
		<span>Okresní soud v Rokycanech</span>
		break;
	case "OSVYCRK":
		<span>Okresní soud v Rychnově nad Kněžnou</span>
		break;
	case "OSVYCSM":
		<span>Okresní soud v Semilech</span>
		break;
	case "OSZPCSO":
		<span>Okresní soud v Sokolově</span>
		break;
	case "OSJICST":
		<span>Okresní soud ve Strakonicích</span>
		break;
	case "OSSEMSU":
		<span>Okresní soud v Šumperku</span>
		break;
	case "OSJICTA":
		<span>Okresní soud v Táboře</span>
		break;
	case "OSZPCTC":
		<span>Okresní soud v Tachově</span>
		break;
	case "OSSCETP":
		<span>Okresní soud v Teplicích</span>
		break;
	case "OSJIMTR":
		<span>Okresní soud v Třebíči</span>
		break;
	case "OSVYCTU":
		<span>Okresní soud v Trutnově</span>
		break;
	case "OSJIMUH":
		<span>Okresní soud v Uherském Hradišti</span>
		break;
	case "OSSCEUL":
		<span>Okresní soud v Ústí nad Labem</span>
		break;
	case "OSVYCUO":
		<span>Okresní soud v Ústí nad Orlicí</span>
		break;
	case "OSVYCSY":
		<span>Okresní soud ve Svitavách</span>
		break;
	case "OSSEMVS":
		<span>Okresní soud ve Vsetíně</span>
		break;
	case "OSSEMVM":
		<span>Okresní soud ve Vsetíně pobočka Valašské Meziřičí</span>
		break;
	case "OSJIMVY":
		<span>Okresní soud ve Vyškově</span>
		break;
	case "OSJIMZR":
		<span>Okresní soud ve Žďáru nad Sázavou</span>
		break;
	case "OSJIMZL":
		<span>Okresní soud ve Zlíně</span>
		break;
	case "OSJIMZN":
		<span>Okresní soud ve Znojmě</span>
		break;
	default:

		<span>@Model.Soud</span>

		break;
}