@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Lib.Data.Insolvence;
@using HlidacStatu.Lib.Render;

@model HlidacStatu.Web.Models.InsolvenceIndexViewModel


@{
    ViewBag.Title = "Hlídač insolvencí";
    ViewBag.SubTitle = "";


}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">Hlídač Insolvencí</li>
    </ol>
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


@Html.Action("CachedAction_Child_12H", new { model = Model, NameOfView = "Index.Content" })



<h2>Ukázky možností</h2>
<ul>
    <li>
        <a href="/insolvence/hledat?Q=*">Naposledy změněná řízení</a>
    </li>
    <li>
        <a href="/insolvence/hledat?Q=datumZalozeni%3A%5B2018-01-01+TO+2018-12-31%5D+AND+soud%3AKSSCEUL">Řízení vzniklá v roce 2018 na krajském soudu v Ústí nad Labem</a>
    </li>
    <li>
        <a href="/insolvence/hledat?Q=jmenodluznik%3A%22Petr+Novák%22">Řízení kde dlužník je osoba se jménem Petr Novák</a>
    </li>
    <li>
        <a href="/insolvence/hledat?Q=Stav%3AKONKURS">Řízení v konkursu</a>
    </li>
</ul>







