@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Lib.Data.Insolvence;
@model HlidacStatu.Web.Models.InsolvenceIndexViewModel

@{
	ViewBag.Title = "Hlídač insolvencí";
	ViewBag.SubTitle = "";

}

@section breadcrumb
{
	<ol class="breadcrumb">
		<li><a href="/">Hlídač Státu</a></li>
		<li class="active">Hlídač Insolvencí</li>
	</ol>
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

@Html.Partial("_SearchForm", new HlidacStatu.Lib.ES.InsolvenceSearchResult())

<hr />

<div class="row">
	<div class="col-xs-6 col-sm-6" style="padding:5px">
		<h2>Nové společnosti v insolvenci</h2>
		@{
			var spolecnosti = Model.NoveFirmyVInsolvenci
				.SelectMany(r => r.Dluznici.Where(d => d.Typ == "P" && !string.IsNullOrEmpty(d.ICO)).Select(d => new { Dluznik = d, SpisovaZnacka = r.SpisovaZnacka, UrlId = r.UrlId() }))
				.Select(s => new OsobaViewModel
				{
					Osoba = new Osoba { PlneJmeno = s.Dluznik.PlneJmeno, ICO = s.Dluznik.ICO, Typ = s.Dluznik.Typ },
					SpisovaZnacka = s.SpisovaZnacka,
					UrlId = s.UrlId,
					DisplayLinkToRizeni = true
				});
		}

		@Html.Partial("_PeopleList", new PeopleListViewModel { Osoby = spolecnosti, ShowAsDataTable = true, Typ = "spolecnosti" })
	</div>

	<div class="col-xs-6 col-sm-6" style="padding:5px">
		<h2>Nové osoby v insolvenci</h2>
		@{
			var osoby = Model.NoveOsobyVInsolvenci
				.SelectMany(r => r.Dluznici.Where(d => d.Typ == "F" && !string.IsNullOrEmpty(d.Rc)).Select(d => new { Dluznik = d, SpisovaZnacka = r.SpisovaZnacka, UrlId = r.UrlId() }))
				.Select(s => new OsobaViewModel
				{
					Osoba = new Osoba { PlneJmeno = s.Dluznik.PlneJmeno, Rc = s.Dluznik.Rc, Typ = s.Dluznik.Typ },
					SpisovaZnacka = s.SpisovaZnacka,
					UrlId = s.UrlId,
					DisplayLinkToRizeni = true
				});
		}

		@Html.Partial("_PeopleList", new PeopleListViewModel { Osoby = osoby, ShowAsDataTable = true, Typ = "osoby" })
	</div>
</div>

<h2>Ukázky možností</h2>
<ul>
	<li>
		<a href="/insolvence/hledat?Q=*">Naposledy změněná řízení</a>
	</li>
	<li>
		<a href="/insolvence/hledat?Q=datumZalozeni%3A%5B2018-01-01+TO+2018-12-31%5D+AND+soud%3AKSSCEUL">Řízení vzniklá v roce 2018 na krajském soudu v Ústí nad Labem</a>
	</li>
	<li>
		<a href="/insolvence/hledat?Q=jmenodluznik%3A%22Petr+Novák%22">Řízení kde dlužník je osoba se jménem Petr Novák</a>
	</li>
	<li>
		<a href="/insolvence/hledat?Q=Stav%3AKONKURS">Řízení v konkursu</a>
	</li>
</ul>







