@{
    ViewBag.Title = "Beta";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<h1>Beta funkcionality hlídače státu</h1>
<p>Tyto stránky nejsou veřejné a jakékoliv funkcionality zde jsou čistě experimentální</p>
