@{
    ViewBag.Title = "New search";
}


@section scripts
{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                minimumInputLength: 3,
                tags: true,
                dataType: 'json',
                placeholder: 'Zadejte dotaz',
                //tokenSeparators: [' '],
                ajax: {
                    delay: 250,
                    url: function (params) {
                        return '/newsearch/search/' + params.term;
                    },
                    processResults: function (data) {
                        // Transforms the top-level key of the response object from 'items' to 'results'
                        return {
                            results: data
                        };
                    }
                },
                templateResult: formatOptions
            });

            //submit behaviour
            $("#search-input").on('submit', function (e) {
                var searchval = $('.js-example-basic-multiple').val().join(' ');
                
                $('.js-example-basic-multiple').val("");
                $('#query-data').val(searchval);

            });
        });

        function formatOptions(data) {
            if (data.loading) {
                return 'Hledám…';
            }

            var $container = $(
                "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__avatar'><img src='" + data.imageUrl + "' /></div>" +
                "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + data.text +"</div>" +
                "<div class='select2-result-repository__description'>" + data.description + "</div>" +
                "<div class='select2-result-repository__statistics'>" +
                "<div class='select2-result-repository__forks'><i>" + data.type + "</i> </div>" +
                "</div>" +
                "</div>" +
                "</div>"
            );

            return $container;
                //+ ' <small class="new-p new-p--gray new-p--small">(' + data.type + ')</small></div></div>');
        }
    </script>
    
    <style>
        .select2-result-repository {
            padding-top: 4px;
            padding-bottom: 3px
        }

        .select2-result-repository__avatar {
            float: left;
            width: 60px;
            margin-right: 10px
        }

            .select2-result-repository__avatar img {
                width: 100%;
                height: auto;
                border-radius: 2px
            }

        .select2-result-repository__meta {
            margin-left: 70px
        }

        .select2-result-repository__title {
            color: black;
            font-weight: 700;
            word-wrap: break-word;
            line-height: 1.1;
            margin-bottom: 4px
        }

        .select2-result-repository__forks, .select2-result-repository__stargazers {
            margin-right: 1em
        }

        .select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers {
            display: inline-block;
            color: #aaa;
            font-size: 11px
        }

        .select2-result-repository__description {
            font-size: 13px;
            color: #777;
            margin-top: 4px
        }

        .select2-results__option--highlighted .select2-result-repository__title {
            color: white
        }

        .select2-results__option--highlighted .select2-result-repository__forks, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers {
            color: #c6dcef
        }
    </style>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<h1>Nové hledání</h1>
<p>Tato stránka zatím funguje pro testování nové funkcionality pro našeptávání.</p>

<div>

    <form id="search-input">
        <select class="js-example-basic-multiple" name="query" multiple="multiple" style="width: 75%">
        </select>
        <input id="query-data" name="q" type="hidden" />
        <button formaction="">hledat</button>
    </form>



</div>