
@if (DateTime.Now < new DateTime(2019, 6, 29))
{
<div class="alert alert-warning" role="alert">
    Měření dostupnosti státních webů od <b>úterý 18.6.</b> vykazovalo falešné poplachy.
    Omlouváme se správcům serverů i uživatelům. Od <b>soboty 22.6. 16:00</b> jsou data již v pořádku.
</div>
}