
@if (DateTime.Now < new DateTime(2019, 8, 13))
{
    <div class="alert alert-warning" role="alert">
        Měření dostupnosti státních webů během neděle a pondělí mělo problémy. Poškožená a nepřesná data jsme odstranili.
        Omlouváme se správcům serverů i uživatelům.
    </div>
}