
@{
    ViewBag.Title = "API pro vývojáře";
    ViewBag.SubTitle = "Informace o našem API, datových strukturách a způsobech, jak získat obsah databáze hlidacstatu.cz";
    System.IO.FileInfo fi = new FileInfo(HlidacStatu.Lib.StaticData.Dumps_Path + "smlouvy.dump.zip");

}
@section scripts
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }

    <p>
        <h3>Autorizační token</h3>

        <div class="bs-callout bs-callout-success" style="font-size:120%">
            <div>Autorizace je prováděna pomocí autentifikačního tokenu, který je Vám přidělen. Autorizační token je nutno odesílat v hlavičce každého požadavku na API.</div>
            <div>Autorizační token: <code>@ViewBag.Token</code> <b>(toto není token pro OCR Minion. viz níže)</b></div>
            <div>
                Příklad k použití:<br />
                <code>curl -X GET https://www.hlidacstatu.cz/Api/v2/smlouvy/204737 -H 'Authorization: Token @ViewBag.Token'</code><br />
            </div>
        </div>

        <div class="bs-callout bs-callout-default">
            <div class="" style="font-size:120%">
                <table class="table table-hover">
                    <tr>
                        <td>Kompletní dokumentace</td>

                        <td>
                            <ul>
                            <li><a style="font-size:100%" href="https://www.hlidacstatu.cz/api/v2/swagger/index">Dokumentace API v2</a></li>
                            <li><a style="font-size:100%" href="https://www.hlidacstatu.cz/api/v2/swagger/">Swagger file API v2</a></li>
                            </ul>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(ViewBag.OcrToken))
                    {
                        <tr>
                            <td>OCR Minion</td>
                            <td>
                                Api token: <code>@ViewBag.OcrToken</code>
                                <br /> Více o <a href="https://github.com/HlidacStatu/OcrMinion">dokumentace OCRMinion</a>
                                <br /><br />
                                <a href="ocrstat"><i class="fas fa-list-ol"></i> Statistiky a žebříček spuštěných OCR Minion</a>.
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>OCR Minion</td>
                            <td>
                                Klient pro dolování (OCR) textů z obrázkových dokumentů pro Hlídač státu. Pro použití je potřeba speciální API key pro OCR Minion
                                <br /><br />
                                <a href="ocrstat"><i class="fas fa-list-ol"></i> Statistiky a žebříček spuštěných OCR Minion</a>.
                                <br />
                                <a href="https://github.com/HlidacStatu/OcrMinion">HlidacStatu OCR Minion na GitHubu</a>
                                <br /><br />
                                <a href="/api/v1/index?getocr=1" class="btn btn-warning" target="_blank">
                                    Získat svůj OCR Minion API key
                                </a>
                                <br />
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>Kontakt, API support</td>
                        <td><a style="font-size:130%" href="mailto:api@hlidacstatu.cz">api@hlidacstatu.cz</a></td>
                    </tr>

                    <tr>
                        <td>Dokumentace ke starému API V1</td>
                        <td>
                            <a style="font-size:130%" href="https://hlidacstatu.docs.apiary.io/">https://hlidacstatu.docs.apiary.io/</a>
                        </td>
                    </tr>
                </table>


            </div>
        </div>


    </p>
