
@{
    /**/

    ViewBag.Title = "UX fragmenty";
    ViewBag.SubTitle = "UX fragmenty pro pouziti na strankach Hlidace";
    System.IO.FileInfo fi = new FileInfo(HlidacStatu.Lib.StaticData.App_Data_Path + "dump\\smlouvy.dump.zip");

}
@section scripts
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


    <div style="padding: 10px">
        <h1 class="new-title">Stylguide</h1>
        <h2 class="section-title">
            Prace s textem
        </h2>
        <ul>
            <li>
                <code>class="new-p"</code>
                <p class="new-p">
                    Paragraph - Styl se da aplikovat na libovolny tag - nastavuje pouze vlastnosti pisma.
                    Pokud se pouzije tag p, tak bootstrap automaticky prida spodni margin 10px;
                </p>
            </li>
            <li>
                <p class="new-p new-p--gray">
                    Paragraph sedivy
                    <code>class="new-p new-p--gray"</code>
                </p>
            </li>
            <li>
                <p class="new-p new-p--small">
                    Paragraph maly - .new-p .new-p--small
                </p>
            </li>
            <li>
                <p class="new-p new-p--big">
                    Paragraph velky - .new-p .new-p--big , stejny jako section-title, ale ma line height (hodi se na vicero radku)
                </p>
            </li>
            <li>
                <p class="new-p new-p--big">
                    Neco muzu <span class="emphasized"> zvyraznit </span>
                </p>
            </li>
            <li>
                <h3 class="new-title">
                    .new-title
                </h3>
                <p class="new-p">
                    (lze na libovolny tag), vetsinou je pouzit na nazev stranky, nebo dulezitych casti stranky (nazvy hlidacu
                    apod)
                </p>
            </li>
            <li>
                <h3 class="new-title new-title--smaller">
                    .new-title .new-title--smaller
                </h3>
                <p class="new-p">
                    o 4px mensi nez normalni title
                </p>
            </li>
            <li>
                <h3 class="section-title">
                    .section-title
                </h3>
                <p class="new-p">
                    pouzit stridme, nazvy podsekci
                </p>
            </li>
        </ul>

        <h2>Buttons</h2>
        <a class="btn btn-default btn-default-new" role="button">Button default</a>
        <a class="btn btn-primary btn-primary-new" role="button">Button primary</a>
        <br />
        <h2>Links and tag</h2>
        <a href="/" class="link">link</a>
        <!-- tridy nize dedi z .link, tedy staci psat primo variantu -->
        <a href="/" class="link--small">link--small</a>
        <a href="/" class="link--blue">link--blue</a>
        <a href="/" class="link--big">link--big</a>
        <!-- tridy lze kombinovat, napr takto -->
        <a href="/" class="link--blue link--big">link--blue link--big</a>
        <a href="/" class="tag">Tag</a>
        <h2>Inputs</h2>
        <div>
            inputy vychazi volne z bootstrapu. Nize dva priklady bez/s chybou. Sirka inputu odpovida sirce parent komponenty.
        </div>
        <div class="form-group-new">
            <label class="label" for="test">Label</label>
            <input id="test" type="text" class="form-control form-control-new" />
        </div>
        <!-- input se errorem -->
        <div class="form-group-new has-error">
            <label class="label" for="test2">Label</label>
            <input id="test2" type="text" class="form-control form-control-new" />
            <div class="input-error">Vyplňte prosím...</div>
        </div>
        <p>Select je pouzit bootstrapovy nativni</p>
        <div class="form-group-new">
            <label class="label" for="select">Label</label>
            <div class="select-wrapper">
                <select id="select" class="form-control form-control-new" style="width: 240px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <h2>Slozene / slozitejsi komponenty</h2>
        <h3>Hlavicka (nazev) hlidace</h3>
        <div class="watcher__title">
            <img src="/Content/img/icon-contracts.svg">
            <h2 class="new-title">
                Hlídač smluv
            </h2>
            <span>98 výsledků</span>
        </div>

        <h3>Tabulky</h3>
        <p>sirka je automaticka</p>
        <div class="table-new">
            <table>
                <tr>
                    <th>Zveřejněno</th>
                    <th>Popis</th>
                    <th class="text-right">Hodnota</th>
                </tr>
                <tr>
                    <td class="text-nowrap">28. 4. 2018</td>
                    <td class="cell-gray">Finanční neúčelový dar na hlavní činnost organizace Domov bez zámku</td>
                    <td class="text-nowrap text-right cell-red">100 000 Kč</td>
                </tr>
                <tr>
                    <td class="text-nowrap">28. 4. 2018</td>
                    <td class="cell-gray">Finanční neúčelový dar na hlavní činnost Domov</td>
                    <td class="text-nowrap text-right cell-green">100 000 Kč</td>
                </tr>
            </table>
        </div>
        <div class="table-new table-new--dotted">
            <table>
                <tr>
                    <th>Zveřejněno</th>
                    <th>Popis</th>
                    <th class="text-right">Hodnota</th>
                </tr>
                <tr>
                    <td class="text-nowrap">28. 4. 2018</td>
                    <td class="cell-gray">Finanční neúčelový dar na hlavní činnost organizace Domov bez zámku</td>
                    <td class="text-nowrap text-right cell-red">100 000 Kč</td>
                </tr>
                <tr>
                    <td class="text-nowrap">28. 4. 2018</td>
                    <td class="cell-gray">Finanční neúčelový dar na hlavní činnost Domov</td>
                    <td class="text-nowrap text-right cell-green">100 000 Kč</td>
                </tr>
            </table>
        </div>
        <div class="table-new table-new--dotted  table-new--wider">
            <table>
                <tr>
                    <th>Zveřejněno</th>
                    <th>tato tabulka ma vetsi mezery mezi sloupci</th>
                    <th class="text-right">Hodnota</th>
                </tr>
                <tr>
                    <td class="text-nowrap">28. 4. 2018</td>
                    <td class="cell-gray">Finanční neúčelový dar na hlavní činnost organizace Domov bez zámku</td>
                    <td class="text-nowrap text-right cell-red">100 000 Kč</td>
                </tr>
                <tr>
                    <td class="text-nowrap">28. 4. 2018</td>
                    <td class="cell-gray">Finanční neúčelový dar na hlavní činnost Domov</td>
                    <td class="text-nowrap text-right cell-green">100 000 Kč</td>
                </tr>
            </table>
        </div>
        <h3>Nahled dlouheho textu</h3>
        <div class="row">
            <div class="col-sm-3">
                <div class="low-box">
                    <div class="low-box-line"><a href="#" class="more"></a></div>
                    <div class="low-box-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Pellentesque sapien. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Quisque tincidunt scelerisque libero. Curabitur sagittis hendrerit ante. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Praesent dapibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Pellentesque pretium lectus id turpis. Integer tempor. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Maecenas lorem. Nunc dapibus tortor vel mi dapibus sollicitudin. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus.</div>
                </div>
            </div>
            <div class="col-sm-9">
                <b>Razor funkce</b>
<pre>
@@Util.LowBox(120,"Lorem ipsum dolor sit  ....")
</pre>
                <b>HTML s default vyskou 120px</b>
<pre>
&#x3C;div class=&#x22;low-box&#x22;&#x3E;
    &#x3C;div class=&#x22;low-box-line&#x22;&#x3E;&#x3C;a href=&#x22;#&#x22; class=&#x22;more&#x22;&#x3E;&#x3C;/a&#x3E;&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;low-box-content&#x22;&#x3E;Lorem ipsum dolor sit amet.......&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
</pre>
                <b>HTML s jinou vyskou</b>
                <div><code>max-height:<b>80px</b></code> je celkova vyska zavreneho boxu</div>
                <div><code>top:<b>20px</b></code> u <code>div 'low-box-line'</code> je celkova vyska zavreneho boxu-55 pixelu.</div>
<pre>
&#x3C;div class=&#x22;low-box&#x22; style=&#x22;max-height:<b>80px</b>&#x22;&#x3E;
    &#x3C;div class=&#x22;low-box-line&#x22; style=&#x22;top:<b>25px</b>&#x22;&#x3E;&#x3C;a href=&#x22;#&#x22; class=&#x22;more&#x22;&#x3E;&#x3C;/a&#x3E;&#x3C;/div&#x3E;
    &#x3C;div class=&#x22;low-box-content&#x22;&#x3E;
        Lorem ipsum....
&#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <h3>Vertikalni tabs</h3>
        <h4>Razor Code Helper:</h4>
        <pre>    
        @@Util.VerticalTabs(tabs, results)
        
        @@helper VerticalTabs(
            IEnumerable&lt;string&gt; tabnames, 
            IEnumerable&lt;string&gt; contents, 
            string containerCss = null, 
            string tabColCss = null, 
            string contentColCss = null
        )
    </pre>
        <div class="row">
            <div class="col-sm-9">

                <!-- start vertical tabs -->

                <div class="col-xs-12 verticaltab-container">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 verticaltab-menu">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                Bankovní transakce na účtech polit.stran
                            </a>
                            <a href="#" class="list-group-item ">
                                Sdílení
                            </a>
                            <a href="#" class="list-group-item ">
                                Zkratka osoby pro hledání
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 verticaltab">

                        <div class="verticaltab-content active">
                            Nalezli jsme <b>1 bankovní transakci </b>(celkem <b>10 000  Kč</b>)s politickými stranami s osobou se jménem <b>Jan Hušbauer</b>.<a href="/ucty/hledat?q=Jan+Hu%C5%A1bauer">Ukázat tyto bankovní transakce</a><br><span class="text-info">Upozornění: Jedná se o transakce ve kterých se vyskytuje osoba stejného jména. Nemusí jít o stejnou osobu.</span>
                        </div>
                        <div class="verticaltab-content ">
                            <a href="https://www.facebook.com/sharer/sharer.php?sdk=joey&amp;u=https%3A%2F%2Fwww.hlidacstatu.cz%2Fosoba%2Fjan-husbauer&amp;display=popup&amp;ref=plugin&amp;src=share_button" class="ssk ssk-text ssk-facebook ssk-xs" target="_blank" data-ssk-ready="true">na Facebook</a>
                            <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fwww.hlidacstatu.cz%2Fosoba%2Fjan-husbauer&amp;ref_src=twsrc%5Etfw&amp;text=Jan%20na%20%40HlidacStatu%20-%20Jan%20Hu%C5%A1bauer%20%28%2A1988%29&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Fwww.hlidacstatu.cz%2Fosoba%2Fjan-husbauer" class="ssk ssk-text ssk-twitter ssk-xs" target="_blank" data-ssk-ready="true">na Twitter</a>
                        </div>
                        <div class="verticaltab-content ">
                            Pokud napíšete do hledání text <code>osobaId:jan-husbauer</code>, zobrazí se smlouvy s vazbou na Jan Hušbauer
                        </div>
                    </div>

                </div>

                <!-- end vertical tabs -->

            </div>
        </div>

        <h3>Horizontal tabs</h3>
        <pre></pre>
        <h4>Default</h4>
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home"><h2>HOME</h2><p>Content</p></div>
                <div role="tabpanel" class="tab-pane" id="profile"><h2>Profile</h2><p>Content</p></div>
                <div role="tabpanel" class="tab-pane" id="messages"><h2>MESSAGES</h2><p>Content</p></div>
                <div role="tabpanel" class="tab-pane" id="settings"><h2>SETTINGS</h2><p>Content</p></div>
            </div>

        </div>

        <style>
        </style>
        <h4>with borders</h4>
        <pre>
&lt;ul class="nav nav-tabs border" role="tablist"&gt;
</pre>

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs border" role="tablist">
                <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings1" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home1"><h2>HOME</h2><p>Content</p></div>
                <div role="tabpanel" class="tab-pane" id="profile1"><h2>Profile</h2><p>Content</p></div>
                <div role="tabpanel" class="tab-pane" id="messages1"><h2>MESSAGES</h2><p>Content</p></div>
                <div role="tabpanel" class="tab-pane" id="settings1"><h2>SETTINGS</h2><p>Content</p></div>
            </div>

        </div>

        <hr />
        <h3>profil osob</h3>
        <h4>Vetsi</h4>
        <div class="person-profile-thumb">
            <a href="/">
                <div class="profile-picture" style="background-image: url(/Photo/andrej-babis)">
                    <!-- diky pouziti background image nezalezi na pomeru stran obrazku a neni poteba tvorit thumbnaily na serveru -->
                </div>
            </a>
            <div>
                <a class="section-title link--blue" href="/">
                    Andrej Babiš
                </a>
                <div class="new-p new-p--gray new-p--small">
                    (*1954)
                </div>
            </div>
        </div>
        <h4>Maly</h4>
        <!-- maly --- person-profile-thumb--small -->
        <div class="person-profile-thumb person-profile-thumb--small">
            <a href="/">
                <div class="profile-picture" style="background-image: url(/Photo/andrej-babis)">
                    <!-- diky pouziti background image nezalezi na pomeru stran obrazku a neni poteba tvorit thumbnaily na serveru -->
                </div>
            </a>
            <div>
                <a class="section-title link--blue" href="/">
                    Andrej Babiš
                </a>
                <div class="new-p new-p--gray new-p--small">
                    (*1954)
                </div>
            </div>
        </div>

        <!-- dalsi komponenty jsou pouzite na danych podstrankach ve specifickych konfiguracich -->
    </div>
