
@{
    ViewBag.Title = "Debug data";

}

<div>


    <h2>Global memory Cache</h2>
    <ul>
        <li>
            cache : @(System.Web.HttpContext.Current.Cache.Count)
        </li>
    </ul>
</div>
