@model HlidacStatu.Web.Models.IndexViewModel

@{
    /**/

    ViewBag.Title = "Správa účtu " + User.Identity.Name;


}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Hlídači nových smluv, veřejných zakázek, insolvencí a další databází:</dt>
        @if (Model.HasWatchdogs)
        {
            <dd>
                [@Html.ActionLink("Seznam vašich hlídačů", "Watchdogs")]
            </dd>
        }
        else
        {
            <dd>
                <a href="#" data-toggle="modal" data-target="#addWDhelp">Přidat hlídače nových smluv, veřejných zakázek, insolvencí a dalších databází</a>
                <!-- Modal -->
                <div class="modal fade" id="addWDhelp" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Jak přidat nového hlídače</h4>
                            </div>
                            <div class="modal-body">
                                <p><code>Hlídač nových smluv</code> nebo <code>Hlídač veřejných zakázek</code> je jednoduše vyhledávací dotaz, který se spustí vždy po vložení nových smluv.</p>
                                <p>
                                    Před vytvořením dalšího <code>hlídače nových smluv</code> je dobré si ověřit, že vyhledávací dotaz funguje jak si představujete.
                                    Proto jediným místem, kde můžete přidat dalšího <code>hlídače nových smluv</code> je vyhledávání.
                                </p>
                                <p>
                                    Nechte vyhledat údaje, které potřebujete
                                    a nad samotnými výsledky hledání najdete tlačítko pro přidání <code>hlídače nových smluv</code> pro hledané údaje.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                                <a href="/" role="button" class="btn btn-primary">Přejít na hledání a vytvořit prvního hlídače</a>
                            </div>
                        </div>
                    </div>
                </div>
            </dd>
        }

        <dt>Heslo:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Změnit heslo", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Zadat heslo", "SetPassword")
            }
            ]
        </dd>

    </dl>
    <hr />
    @if (this.User.IsInRole("canEditData"))
    {
        <h3>Pro Adminy</h3>
        <dl>
            <dd>
                <dl>
                    <dt>Klasifikace smluv</dt>
                    <dd>
                        <form action="showclassification" method="get">
                            <input type="text" id="id" name="id" value="" placeholder="ID smlouvy">
                            <input type="submit" value="Ukaz" />
                        </form>
                    </dd>
                </dl>
                <dl>
                    <dt>Reviews:</dt>
                    <dd>
                        <a href="/manage/reviews">Reviews</a>
                    </dd>

                    <dt>Spojení dvou osob do jedné:</dt>
                    <dd>
                        <form class="form-inline" action="/manage/osobamerge">
                            <div class="form-group-sm">
                                <label for="osoba1">Hlavní osoba (nameId)</label>
                                <input class="form-control" type="text" name="osoba1" id="osoba1" />
                                <label for="osoba1">Duplikátní záznam</label>
                                <input class="form-control" type="text" name="osoba2" id="osoba2" />
                                <button type="submit" class="btn btn-sm btn-default">Spojit do hlavní osoby</button>
                            </div>
                        </form>
                    </dd>
                    <dt>Editace zaznamů:</dt>
                    <dd>
                        <ul>
                            <li>
                                <input id="Sm" type="number" placeholder="ID verze smlouvy" onchange="$('#linkSm').attr('href','/manage/EditSmlouva?id=' + $('#Sm').val());" />
                                <a id="linkSm" href="#">Editace záznamu smlouvy</a>
                            </li>
                        </ul>
                    </dd>
                    <dt>
                        Hledání a editace osob
                    </dt>
                    <dd>
                        <a href="/manage/findperson">Hledat osobu</a>
                    </dd>

                    <dt>Debug info:</dt>
                    <dd>
                        <a href="/manage/debug">debug</a>
                    </dd>
                </dl>
                <h2>Social Image</h2>

                <h3>Subjekt</h3>
                @*/SocialBanner/subjekt?title=OSTRAVA+AIRPORT+MULTIMODAL+PARK+s.r.o.&body=%E2%97%8F+V+roce+%3Cb%3E2018%3C%2Fb%3E+uzav%C5%99ela+firma+4+smlouvy+v%26nbsp%3Bregistru+smluv+za+%3Cb%3E%3Cspan+title%3D%22+++20+115+524+K%C4%8D%22%3E20%26nbsp%3Bmil.%26nbsp%3BK%C4%8D%3C%2Fspan%3E%3C%2Fb%3E.%3Cbr%2F%3E%E2%97%8F+Mezi+lety+%3Cb%3E2017-18%3C%2Fb%3E+do%C5%A1lo+k+%3Cb%3Epoklesu+zak%C3%A1zek+o%26nbsp%3B-87%2C92+%25%3C%2Fb%3E+v%26nbsp%3BK%C4%8D+.%3Cbr%2F%3E%E2%97%8F+V+%3Cb%3E2018+utajila%3C%2Fb%3E+hodnotu+kontraktu+u%26nbsp%3Bjedn%C3%A9+smlouvy%2C+co%C5%BE+je+celkem+%3Cb%3E25%2C00+%25%3C%2Fb%3E+ze+v%C5%A1ech.%3Cbr%2F%3E%E2%97%8F+Od+roku+%3Cb%3E2016%3C%2Fb%3E+uzav%C5%99ela+firma+celkem+7+smluv+v%26nbsp%3Bregistru+smluv+za+%3Cb%3E%3Cspan+title%3D%22+++186+595+262+K%C4%8D%22%3E187%26nbsp%3Bmil.%26nbsp%3BK%C4%8D%3C%2Fspan%3E%3C%2Fb%3E.&footer=Soukrom%C3%A1+firma%2C+%C3%BAdaje+k+1.+1.+2019*@
                <form action="/socialbanner/subjekt" method="get" class="form">
                    <div class="row">

                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group-sm">
                                <label for="v">ICO</label>
                                <input type="text" class="form-control--240" name="v" placeholder="ico">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group-sm">
                                <label for="img">pomer stran</label>
                                <select class="form-control--240" style="width:80px;" name="rat"><option value="16x9">16x9</option><option value="1x1">1x1</option></select>
                                <button type="submit" class="btn btn-default btn-sm">Generuj</button>
                            </div>
                        </div>
                    </div>

                </form>

                <h3>osoba</h3>
                <form action="/socialbanner/osoba" method="get" class="form">
                    <div class="row">

                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group-sm">
                                <label for="v">Osoba NameId</label>
                                <input type="text" class="form-control--240" name="v" placeholder="osoba nameId">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group-sm">
                                <label for="img">pomer stran</label>
                                <select class="form-control--240" style="width:80px;" name="rat"><option value="16x9">16x9</option><option value="1x1">1x1</option></select>
                                <button type="submit" class="btn btn-default btn-sm">Generuj</button>
                            </div>
                        </div>
                    </div>

                </form>
                @*/SocialBanner/subjekt?title=OSTRAVA+AIRPORT+MULTIMODAL+PARK+s.r.o.&body=%E2%97%8F+V+roce+%3Cb%3E2018%3C%2Fb%3E+uzav%C5%99ela+firma+4+smlouvy+v%26nbsp%3Bregistru+smluv+za+%3Cb%3E%3Cspan+title%3D%22+++20+115+524+K%C4%8D%22%3E20%26nbsp%3Bmil.%26nbsp%3BK%C4%8D%3C%2Fspan%3E%3C%2Fb%3E.%3Cbr%2F%3E%E2%97%8F+Mezi+lety+%3Cb%3E2017-18%3C%2Fb%3E+do%C5%A1lo+k+%3Cb%3Epoklesu+zak%C3%A1zek+o%26nbsp%3B-87%2C92+%25%3C%2Fb%3E+v%26nbsp%3BK%C4%8D+.%3Cbr%2F%3E%E2%97%8F+V+%3Cb%3E2018+utajila%3C%2Fb%3E+hodnotu+kontraktu+u%26nbsp%3Bjedn%C3%A9+smlouvy%2C+co%C5%BE+je+celkem+%3Cb%3E25%2C00+%25%3C%2Fb%3E+ze+v%C5%A1ech.%3Cbr%2F%3E%E2%97%8F+Od+roku+%3Cb%3E2016%3C%2Fb%3E+uzav%C5%99ela+firma+celkem+7+smluv+v%26nbsp%3Bregistru+smluv+za+%3Cb%3E%3Cspan+title%3D%22+++186+595+262+K%C4%8D%22%3E187%26nbsp%3Bmil.%26nbsp%3BK%C4%8D%3C%2Fspan%3E%3C%2Fb%3E.&footer=Soukrom%C3%A1+firma%2C+%C3%BAdaje+k+1.+1.+2019*@


                <hr />
                <hr />
                <h3>Custom quote</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Tipy</h3>
                        <h4>uvozovky: „ … “ </h4>
                        <h4>
                            &lt;b&gt;<b style="color:#E0A514">tučně barevně zvýrazněný</b>&lt;/b&gt;
                            <br /> &lt;strong&gt;<b>tučně</b>&lt;/strong&gt;
                            <br /> &lt;i&gt;<i>kurzívou</i>&lt;/i&gt;
                        </h4>
                        <hr style="width:100px" />
                        @*/SocialBanner?title=OSTRAVA+AIRPORT+MULTIMODAL+PARK+s.r.o.&body=%E2%97%8F+V+roce+%3Cb%3E2018%3C%2Fb%3E+uzav%C5%99ela+firma+4+smlouvy+v%26nbsp%3Bregistru+smluv+za+%3Cb%3E%3Cspan+title%3D%22+++20+115+524+K%C4%8D%22%3E20%26nbsp%3Bmil.%26nbsp%3BK%C4%8D%3C%2Fspan%3E%3C%2Fb%3E.%3Cbr%2F%3E%E2%97%8F+Mezi+lety+%3Cb%3E2017-18%3C%2Fb%3E+do%C5%A1lo+k+%3Cb%3Epoklesu+zak%C3%A1zek+o%26nbsp%3B-87%2C92+%25%3C%2Fb%3E+v%26nbsp%3BK%C4%8D+.%3Cbr%2F%3E%E2%97%8F+V+%3Cb%3E2018+utajila%3C%2Fb%3E+hodnotu+kontraktu+u%26nbsp%3Bjedn%C3%A9+smlouvy%2C+co%C5%BE+je+celkem+%3Cb%3E25%2C00+%25%3C%2Fb%3E+ze+v%C5%A1ech.%3Cbr%2F%3E%E2%97%8F+Od+roku+%3Cb%3E2016%3C%2Fb%3E+uzav%C5%99ela+firma+celkem+7+smluv+v%26nbsp%3Bregistru+smluv+za+%3Cb%3E%3Cspan+title%3D%22+++186+595+262+K%C4%8D%22%3E187%26nbsp%3Bmil.%26nbsp%3BK%C4%8D%3C%2Fspan%3E%3C%2Fb%3E.&footer=Soukrom%C3%A1+firma%2C+%C3%BAdaje+k+1.+1.+2019*@
                        <form id="customQuoteForm" action="/socialbanner/quote" method="get" class="form-horizontal" onsubmit="updateImg(); return false;">

                            <div class="form-group-sm">
                                <label for="jmeno" class="col-xs-2 control-label">Titulek (nepovinne)</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control--240" name="t" placeholder="titulek">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group-sm">
                                <label for="prijmeni" class="col-xs-2 control-label">body</label>
                                <div class="col-xs-10">
                                    <textarea cols="60" rows="10" class="form-control--240" name="b" placeholder="html"></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group-sm">
                                <label for="prijmeni" class="col-xs-2 control-label">footer</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control--240" name="f" placeholder="text">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group-sm">
                                <label for="jmeno" class="col-xs-2 control-label">sub footer</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control--240" name="st" placeholder="titulek">
                                </div>
                            </div>
                            <div class="form-group-sm">
                                <label for="img" class="col-xs-2 control-label">img</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control--240" name="img" placeholder="img url">
                                </div>
                            </div>
                            <div class="form-group-sm">
                                <label for="img" class="col-xs-2 control-label">pomer stran</label>
                                <div class="col-xs-10" style="border-bottom: 1px solid gray;">
                                    <select class="form-control--240" style="width:80px;" name="rat"><option value="16x9">16x9</option><option value="1x1">1x1</option></select>
                                    <select class="form-control--240" style="width:80px;" name="col">
                                        <option value="blue-dark">blue-dark</option>
                                        <option value="blue-light">blue-light</option>
                                        <option value="green">green</option>
                                        <option value="orange">orange</option>
                                        <option value="orange-invert">orange-invert</option>
                                        <option value="orange-light">orange-light</option>
                                        <option value="red-dark">red-dark</option>
                                    </select>
                                    <button type="submit" class="btn btn-default btn-sm">Generuj</button>
                                </div>
                            </div>
                        </form>
                        <script>
                            function updateImg() {
                                var targetUrl = "/socialbanner/quote?" + $("#customQuoteForm").serialize();
                                $("#quotepreview").attr("src", targetUrl);
                            }
                        </script>
                    </div>
                    <div class="col-xs-6">
                        <img id="quotepreview" style="width:100%;height:auto;border:1px solid red;" src="" />
                    </div>
                </div>


            </dd>
        </dl>
    }
</div>
