@model object
@using Nest;
@using System.Linq;

@{
    Layout = null;

    HlidacStatu.Lib.Data.External.DataSets.DataSet ds =
        HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get((string)Model);
    var reg = ds.Registration();

}
<div class="row">
    <div class="col-xs-12">
        <h3>@reg.name</h3>
        <p>@reg.description</p>

        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1q2tP7lpTxs1AxzG1NO6a6-HYxl0jmqQq" width="800" height="600"></iframe>

    </div>
</div>
