
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib

@using Devmasters.Core
@using System.Data
@using System.Data.SqlClient
@using HlidacStatu.Lib.Data
@using HlidacStatu.Lib.Render

@{

    var allNames = StaticData.HejtmaniOd2020;

    List<HlidacStatu.Lib.Data.Osoba> showList = null;
    showList = HlidacStatu.Lib.StaticData.PolitickyAktivni.Get()
        .Where(p => allNames.Contains(p.NameId))
        .OrderBy(m => m.Prijmeni)
        .ThenBy(m => m.Jmeno)
        .ToList();
    bool Search = true;

    ReportDataSource poslanciTable = new ReportDataSource(new ReportDataSource.Column[]
   {
                new ReportDataSource.Column() { Name="Hejtman",
                    HtmlRender = (s) => {
                        Osoba o = (Osoba)s;
                        return string.Format("<a href='{0}'>{1}</a>", o.GetUrl(), o.FullNameWithYear(true))
                        + "<br />"
                        + Devmasters.Core.TextUtil.ShortenText(o.Description(false,m=>m.Type != (int)OsobaEvent.Types.Sponzor,3),250).Replace("\n", "<br />");
                    },
                    OrderValueRender = (s) => {
                        Osoba o = (Osoba)s;
                        return o.FullName(false);
                    }
                },
                new ReportDataSource.Column() {
                    Name ="Strana/Hnutí",
                    HtmlRender = (s) => {
                        Osoba o = (Osoba)s;
                        OsobaEvent oe = o.Events()
                            .Where(m=>m.Type==(int)OsobaEvent.Types.VolenaFunkce && "poslanec".Equals(m.AddInfo, StringComparison.InvariantCultureIgnoreCase))
                            .OrderByDescending(m=>m.DatumOd)
                            .FirstOrDefault();
                        if (oe == null)
                        {
                            return "&nbsp;";
                        }
                        else
                        {
                            return oe.Organizace;
                        }
                    },
                    OrderValueRender = (s) => {
                        Osoba o = (Osoba)s;
                        OsobaEvent oe = o.Events()
                            .Where(m=>m.Type==(int)OsobaEvent.Types.VolenaFunkce && "poslanec".Equals(m.AddInfo, StringComparison.InvariantCultureIgnoreCase))
                            .OrderByDescending(m=>m.DatumOd)
                            .FirstOrDefault();
                        if (oe == null)
                        {
                            return "";
                        }
                        else
                        {
                            return oe.Organizace;
                        }

                    }
                },
                new ReportDataSource.Column() { Name="Angažovanost",
                    HtmlRender = (s) => {
                        Osoba o = (Osoba)s;
                        string sout = "";

                        if (o.Vazby() != null)
                        {
                            foreach (var v in o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Take(2))
                            {
                                sout = sout + v.Value.ToNiceString(true) + "<br/>";
                            }
                            if (o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Count() == 3)
                            {
                                sout = sout + o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy
                                    .Skip(2).First().Value.ToNiceString(true);
                            }
                            else if (o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Count() > 2)
                            {
                                sout = sout + "<a href='" + o.GetUrl() + "'>" + HlidacStatu.Util.PluralForm.Get(o.Vazby().Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                            }
                        }
                        else
                        {
                            sout="&nbsp;";
                        }
                        return sout;
                    },
                    OrderValueRender = (s) => {
                        Osoba o = (Osoba)s;
                        return o.FullName(false);
                    }
                },
                new ReportDataSource.Column() { Name="Sponzor",
                    HtmlRender = (s) => {
                        Osoba o = (Osoba)s;
                        var sum = o.Sponzoring().Sum(m=>m.AddInfoNum);
                        if (sum==0)
                            return "Ne";
                        else
                            return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePrice(sum.Value,html:true) + string.Format("<br /><a href='{0}'>podrobnosti</a>", o.GetUrl()) ;
                    },
                    OrderValueRender = (s) => {
                        Osoba o = (Osoba)s;
                        var val= o.Sponzoring().Sum(m=>m.AddInfoNum) ;
                        return HlidacStatu.Util.RenderData.OrderValueFormat(val);
                    }
                },
   });


    foreach (var p in showList)
    {

        poslanciTable.AddRow(p);
    }
}



<h3 id="tblHead">Všichni hejtmani krajů ČR</h3>
@UtilChart.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Czech.json'
                },
                'order': [4,'desc'],
                'lengthChange': false,
                'info': false,
                'paging': true,
                'pageLength': 50,
                'columnDefs': [{ 'visible': false, 'targets': 0 }]
                }", "tbPoslanci")
<script>
</script>
