
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib

@using Devmasters.Core
@using System.Data
@using System.Data.SqlClient
@using HlidacStatu.Lib.Data
@using HlidacStatu.Lib.Render

@{


    string[] uradVladyNames = new string[] {
            "ales-michl",
            "jiri-steg",
            "rut-bizkova",
            "blanka-zanova",
            "michal-smucr",
            "josef-havel-11",
            "martin-fassmann",
            "jaroslav-ungerman-1",
            "cyril-svoboda",
            "martin-holcat",
            "zdenek-benes-27",
            "frantisek-konicek",
            "roman-lenner",
            "miroslav-toman",
            };

    List<HlidacStatu.Lib.Data.Osoba> showList = null;
    showList = HlidacStatu.Lib.StaticData.PolitickyAktivni.Get()
        .Where(p => uradVladyNames.Contains(p.NameId))
        .OrderBy(m => m.Prijmeni)
        .ThenBy(m => m.Jmeno)
        .ToList();
    bool Search = true;

    ReportDataSource poslanciTable = new ReportDataSource(new ReportDataSource.Column[]
   {
new ReportDataSource.Column() { Name="Poradci předsedy vlády",
    HtmlRender = (s) => {
        Osoba o = (Osoba)s;
        return string.Format("<a href='{0}'>{1}</a>", o.GetUrl(), o.FullNameWithYear(true))
        + "<br />"
        + Devmasters.Core.TextUtil.ShortenText(o.Description(false,m=>m.Type != (int)OsobaEvent.Types.Sponzor,3), 250).Replace("\n", "<br />");
    },
    OrderValueRender = (s) => {
        Osoba o = (Osoba)s;
        return o.FullName(false);
    }
},
new ReportDataSource.Column() { Name="Angažovanost ve firmách",
    HtmlRender = (s) => {
        Osoba o = (Osoba)s;
        string sout = "";

        if (o.Vazby() != null)
        {
            foreach (var v in o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Take(2))
            {
                sout = sout + v.Value.ToNiceString(true) + "<br/>";
            }
            if (o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Count() == 3)
            {
                sout = sout + o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy
                .Skip(2).First().Value.ToNiceString(true);
            }
            else if (o.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Count() > 2)
            {
                sout = sout + "<a href='" + o.GetUrl() + "'>" + HlidacStatu.Util.PluralForm.Get(o.Vazby().Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
            }
        }
        return sout;
    },
    OrderValueRender = (s) => {
        Osoba o = (Osoba)s;
        return o.FullName(false);
    }
},
new ReportDataSource.Column() { Name="Sponzor polit.stran",
    HtmlRender = (s) => {
        Osoba o = (Osoba)s;
        var sum = o.Sponzoring().Sum(m=>m.AddInfoNum);
        if (sum==0)
            return "Ne";
        else
            return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePrice(sum.Value,html:true) + string.Format("<br /><a href='{0}'>podrobnosti</a>", o.GetUrl()) ;
    },
    OrderValueRender = (s) => {
        Osoba o = (Osoba)s;
        return o.Sponzoring().Sum(m=>m.AddInfoNum).ToString() ;
    }
},
   });


    foreach (var p in showList)
    {

        poslanciTable.AddRow(p);
    }
}



<h3 id="tblHead">Poradci na úřadu vlády</h3>
<p>
    Hospodářské noviny se <a href="https://domaci.ihned.cz/c1-66100770-kdo-radi-babisovi-polovina-premierovych-poradcu-dela-za-penize-druha-jako-udernici-zdarma-urad-vlady-taji-kolik-komu-dava?utm_source=ihned&utm_medium=otvirak&utm_content=id-66100770">zajímaly o platy poradců na úřadu vlády</a>.
</p>
<p>Zde je náš pohled na premierovo poradce, na jejich dary politických stran a zda jejich firmy obchodují se státem. </p>
@UtilChart.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
     'language': {
        'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Czech.json'
    },
    'order': [4,'desc'],
    'lengthChange': false,
    'info': false,
    'paging': true,
    'pageLength': 50,
    'columnDefs': [{ 'visible': false, 'targets': 0 }]
    }", "tbPoslanci")
<script>
</script>
