
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib
@using Nest;
@using Devmasters.Core
@using System.Data
@using System.Data.SqlClient
@using HlidacStatu.Lib.Data
@using HlidacStatu.Lib.Render


@{
    decimal mld = 1000000000m;
//https://twitter.com/HelenaHorska/status/1255496055782887424/photo/1
https://www.echo24.cz/a/Skptx/pomoc-firmam-je-extremne-pomala-vlada-slibila-bilion-realne-poslala-jen-par-miliard

    var podpora = new List<Tuple<string, int, decimal, decimal>>() {
        //nazev, typ, schvalena podpora, vyplacena podpora
        new Tuple<string, int,decimal,decimal>("Pětadvacítka (MF)", 1, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Liberační balíček I a II (MF)", 3, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Ošetřovné (MPO)", 1, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Program ANTIVIRUS (MPSV)", 1, 32.7m*mld, 0.929m*mld),

        new Tuple<string, int,decimal,decimal>("Odpuštění zdravotního a důchodové pojištění (MZdr,MPSV)", 1, 0*mld, 0*mld),
        new Tuple<string, int,decimal,decimal>("COVID I (ČMZRB)", 2, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("COVID II (ČMZRB)", 2, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("COVID III (ČMZRB)", 2, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("COVID Praha (ČMZRB)", 2, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Program rozvoje venkova (MZ)", 1, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Navýšení podpory PGRLF (MZ)",1, 32.7m*mld, 0.929m*mld),

        new Tuple<string, int,decimal,decimal>("Záchrana kultury (MK)",1, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Záruky EGAP",2, 32.7m*mld, 0.929m*mld),
        new Tuple<string, int,decimal,decimal>("Podpora vývozců (EGAP)",2, 32.7m*mld, 0.929m*mld),
    };
}
<div class="bs-callout bs-callout-primary">
    <h4>V jakých oborech uzavírá stát nejvíce smluv?</h4>
    <div>
        Stát uzavírá různé smlouvy z mnoha důvodů, pro různé typy služeb, prací, zboží. <b>Každou smlouvu se pokoušíme zařadit do jedné až dvou oborů (kategorií) ze celkem 140.</b>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">

    </div>

</div>




