@using Nest
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib;
@using HlidacStatu.Lib.Render;

@{

    var model = new HlidacStatu.Lib.ES.SmlouvaSearchResult(this.Request.QueryString);

    model = HlidacStatu.Lib.ES.SearchTools.SimpleSearch("*", model.Page,
        100, (HlidacStatu.Lib.ES.SearchTools.OrderResult)(Convert.ToInt32(model.Order)), platnyZaznam: 1);

    model.Chyby = true;
    model.ShowWatchdog = false;
}


<div class="bs-callout bs-callout-primary">
    <p>
        Při zpracování každé jednotlivé smlouvy provádíme důkladnou analýzu formálních údajů, úplnosti, dodavatelů atd.
        Každou smlouvu označíme podle míry možný nedostatků a chyb. Za chybami se může skrývat jak neskušenost s vkládáním smluv,
        lajdáctví, tak úmyslně vynechané údaje s cílem znemožnit analýzu smlouvy.
    </p>
    <p>
        Avšak i přes tyto kontroly nemusí být smlouva opravdu chybná, ale může dojít k nesprávnému označení chyby (tento případ může nastat u soukromách osob či zahraničních subjektů).
        Informace o chybovosti je proto pouze orientační.
    </p>
    <a href="/Novinky">Podrobněji analýzu popisujeme zde</a>.
    <div class="pull-right">@Html.Partial("_Symbols")</div>
</div>

@Html.Partial("_SearchResult", model)


