<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
 <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
 <add key="Devmasters Libraries" value="http://nuget.devmasters.cz/nuget" />
</packageSources>
<disabledPackageSources>
 <add key="NuGet official package source" value="true" />
</disabledPackageSources>
<activePackageSource>
  <add key="All" value="(Aggregate source)" />
</activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>