@using HlidacStatu.Web.Models;
@using ISR = HlidacStatu.Lib.Data.Insolvence.Insolvence.StavRizeni;

@model StavRizeniViewModel

@switch (Model.Stav)
{
	case ISR.Nevyrizena:
		<span title="Před rozhodnutím o úpadku">Nevyřízená</span>
		break;
	case ISR.Memoratorium:
		<span title="Povoleno moratorium">Moratorium</span>
		break;
	case ISR.Upadek:
		<span title="V úpadku">Úpadek</span>
		break;
	case ISR.Konkurs:
		<span title="Prohlášený konkurs">Konkurs</span>
		break;
	case ISR.Oddluzeni:
		<span title="Povoleno oddlužení">Oddlužení</span>
		break;
	case ISR.Reorganizace:
		<span title="Povolena reorganizace">Reorganizace</span>
		break;
	case ISR.Vyrizena:
		<span title="Vyřízená věc">Vyřízená</span>
		break;
	case ISR.Pravomocna:
		<span title="Pravomocně skončená věc">Pravomocná</span>
		break;
	case ISR.Odskrtnuta:
		<span title="Odškrtnutá - skončená věc">Odškrtnutá</span>
		break;
	case ISR.Zruseno:
		<span title="Zrušeno vrchním soudem">Zrušeno vrchním soudem</span>
		break;
	case ISR.KonkursPoZruseni:
		<span title="Prohlášený konkurs po zrušení VS">Konkurs po zrušení</span>
		break;
	case ISR.Obzivla:
		<span title="Obživlá věc">Obživlá</span>
		break;
	case ISR.MylnyZapis:
		<span title="Mylný zápis do rejstříku">Mylný zápis</span>
		break;
	case ISR.PostoupenaVec:
		<span title="Postoupená věc">Postoupená věc</span>
		break;
	default:
		<span>@Model.Stav</span>
		break;
}