@model LoginViewModel

@using HlidacStatu.Web.Models
@{
    ViewBag.Title = "Stránka pro roboty";
}

    <div class="jumbotron">
        <h1>Zdravíme</h1>
        <p>Velmi nám chováním připomínáte robota a pro roboty tento server určen není.</p>
        <p>Pokud jste člověk a nemůžete se dostat naše stránky či přes náš formulář, napište nám na kontaktní stránce. Jako člověk ji zde snadno najdete.</p>
        <p>A taky je potřeba, abyste měli zapnutý javascript, jinak náš server nefunguje.</p>

    </div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}