@model HlidacStatu.Lib.ES.SmlouvaSearchResult

<div class="row">
    <div class="col-xs-offset-0 col-xs-12 col-md-offset-0 col-md-10" >
        @using (Html.BeginForm("Politici", "Home", FormMethod.Get, new { @class = "form-inline", role = "form" }))
        {
            <h3>Hledání politiků</h3>
            <div id="custom-search-input" class="col-xs-12">
                <div class="input-group col-xs-12">
                    @Html.TextBoxFor(m => m.Q, new { @class = "form-control input-lg", style = "max-width: none;", placeholder = "Jméno politika", @id="politik-search" })
                    <span class="input-group-btn text-right" style="padding-right:20px;width:1px;">
                        <button class="btn btn-default btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>


<script>



</script>
