
<div class="row">
    <div class="col-xs-offset-0 col-xs-12 col-md-offset-0 col-md-10">
        <h3>Hledání politiků a dalších osob</h3>
        <div id="personsForm" class="input-group col-xs-12">
            <input class="form-control typeahead input-lg" type="text" style="max-width:none;" placeholder="Jméno osoby">
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">

    <div class="col-xs-offset-0 col-xs-12 col-md-offset-0 col-md-10">

        <div  class="small">
            <h4>Politici a osoby podle příjmení</h4>
            @{
                string prefix = "";
                if (!string.IsNullOrEmpty(Request.QueryString["prefix"])) //all, show with biggest angazovanost
                {
                    prefix = Request.QueryString["prefix"].ToString().ToUpper();
                }
            }
            @foreach (var prf in HlidacStatu.Lib.StaticData.Politici.Get().Select(m => m.Prijmeni.First().ToString().ToUpper()).Distinct().Concat(new string[] { "CH" }).OrderBy(m => m))
            {
                <span style="padding-left:5px;">
                    @if (prf == prefix)
                    {
                    <b>@prf</b>
                    }
                    else
                    {
                    <a href="/politici?prefix=@prf">@prf</a>
                    }
                </span>
            }
        </div>

    </div>
</div>
<div class="clearfix"></div>

<script>
    $(function () {

        persons = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/v1/persons?q=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('.typeahead').typeahead(null, {
            display: 'name',
            name: "person",
            source: persons,
            limit: 30,
        });

        $('#personsForm .typeahead').bind('typeahead:select', function (ev, suggestion) {
            //$("#AddressId").val(suggestion.id).trigger('change');
            document.location.href = '/politik/' + suggestion.nameId;

        });

    }); //jquery.start
</script>
