@{
    ViewBag.Title = "Kontakt";
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }<p>
        Kontakt na autora:
        <address>
            Hlídač Státu z.ú.<br />
            Michal Bláha<br />
            Na Florenci 1270/31<br />
            110 00  Praha – Nové Město<br />
            <br />
            <abbr title="Email">Email:</abbr>
            michal@michalblaha.cz<br />
            @*<abbr title="Telefon">Tel:</abbr>
                +420 777 737 810*@
        </address>
    </p>