@{
    ViewBag.Title = "Novinky";
}
<p>
    <dl>
        <dt>20.12.2016</dt>
        <dd>
            <ul>
                <li>Doplněno více než 6.000 s <a href="/politici">politikou spojených osob</a>, celkem máme v databázi přes 10.000 politicky angažovaných osob.</li>
                <li>Přehled <a href="/report/11">úřadů nejvíce skrývající své dodavatele</a> a <a href="/report/10">těchto smluv smluv</a>.</li>
                <li>Přehled <a href="/report/12 ">úřadů nejvíce skrývající zaplacené ceny</a> a <a href="/report/13">těchto smluv</a>.</li>
            </ul>
        </dd>
        <dt>9.11.2016</dt>
        <dd>
            <ul>
                <li>Více info o rizicích u subjektu</li>
                <li>Přístup k novým smlouvám po dnech</li>
                <li>Snadný přístup k rizikovým smlouvám</li>
            </ul>
        </dd>
        <dt>15.10.2016</dt>
        <dd>
            <ul>
                <li>
                    Spousta změn, o kterých jsme nestihli skoro měsíc napsat:
                    <ul>
                        <li>
                            Změna interního formátu dat, který umožní přesnější hledání, kvalitnější analýzy a odhalení chyb v datech.
                        </li>
                        <li>Přidáno více než 600 politiků, nyní jich máme přes 3000</li>
                        <li>Nové reporty, dostupné z titulní strany</li>
                        <li>Všechny vazby mezi politiky a firmami jsme časově rozdělili, na aktuální, nedávné a historické a toto rozdělení doplnili do odpovídajících reportů</li>
                        <li>Navázána užší spolupráce s projektem <a href="http://www.nasipolitici.cz" onclick="return trackOutLink(this,'Novinky');">NasiPolitici.cz</a>, takže naše informace o politicích budou zase přesnější</li>
                        <li>Zodpovězeny dotazy více než 50 úřadů a institucí, a více než 30 telefonických konzultací</li>
                        <li><a href="http://video.aktualne.cz/dvtv/blaha-stat-je-derava-konev-v-registru-jsme-nasli-zakazky-pro/r~8fe1f8ee8fd411e683920025900fea04/" onclick="return trackOutLink(this,'Novinky');">Rozhovor na DVTV</a> o Registru Smluv a hlidacstatu.cz</li>
                        <li>A spousta drobných úprav, vylepšení na denní bázi</li>
                    </ul>
            </ul>
        </dd>
        <dt>24.9.2016</dt>
        <dd>
            <ul>
                <li>Přidány další reporty</li>.
            </ul>
        </dd>
        <dt>17.9.2016</dt>
        <dd>
            <ul>
                <li>Přidány <a href="/afery">aféry</a>, neboli stránka s přehledem známých kauz a smluv s nimi souvisejících</li>.
            </ul>
        </dd>
        <dt>15.9.2016</dt>
        <dd>
            <ul>
                <li><a href="/api">Zpřístupnění celé databáze i jednotlivých záznamů</a></li>
                <li>Úprava importu smlouv po opravě XML od MV ČR.</li>
                <li>Doplňování chybějících údajů o firmách (IČO a datové schránky) z veřejných rejstříků.</li>
            </ul>
        </dd>
        <dt>10.9.2016</dt>
        <dd>
            <ul>
                <li><a href="/politici">Přehled všech zpracovaných politiků a jejich vazeb</a></li>
                <li>Import a validace dat od dalšího partnera - <a href="http://www.govdata.cz/" onclick="return trackOutLink(this,'Novinky');">GovData.cz</a></li>
            </ul>
        </dd>
        <dt>29.8.2016</dt>
        <dd>
            <ul>
                <li>V hledání se zobrazují pouze platné smlouvy</li>
                <li>Možnost zobrazení textu smlouvy v čistém textu</li>
            </ul>
        </dd>
        <dt>25.8.2016</dt>
        <dd>
            <ul>
                <li>Doplněny další úřady do <a href="/adresar">přehledu úřadů</a>, nyní přes 650 úřadů</li>
                <li>Doplněny přímé vazby politiku (PSP a Senát) na dodavatelské firmy u smluv</li>
                <li>Více rozšířených parametrů hledání</li>
                <li>Navázání IČO z reportů na data z OŘ.</li>
            </ul>
        </dd>
        <dt>20.8.2016</dt>
        <dd>
            <ul>
                <li>Vylepšená analýza chybovosti smluv</li>
                <li>Adresář úřadů</li>
                <li>Výpis smluv je přehlednější, včetně chyb</li>
                <li>2 nové reporty - <a href="/Report/3">smlouvy s chybami nad 5mil.Kč</a> a <a href="/Report/3">nejdražší smlouvy</a>.</li>
            </ul>
        </dd>
    </dl>
</p>
<p>
    Napadá váš co dalšího bychom měli doplnit? <a href="/Kontakt">Napište nám!</a>.
    <a href="/Oserveru">Proč vůbec tento server vznikl se dozvíte tady</a>.
</p>