@{
    ViewBag.Title = "Porovnání a analýzy úřadů a firem navzájem";
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}



<div class="jumbotron small">
    <h2>Porovnávání a analýzy firem, úřadů a osob</h2>
    <p>Snadný způsob, jak porovnat podobné firmy, úřady a osoby</p>
    <p>
        Výslednou analýzu, ať již celou či jen jednotlivou část, můžete vložit to vlastní stránky
    </p>
</div>
<h2>Připravená porovnání</h2>
<p>Připravili jsme pro vás několik připravených porovnání</p>
<div class="row">
    <div class="col-xs-12">
        <a href="/porovnat/subjekty?ico=@(HlidacStatu.Lib.StaticData.MinisterstvaCache.Get().Select(i=>i.ICO).Aggregate((f,s)=> f+","+s))&title=@Url.Encode("Porovnání ministerstev")" class="btn btn-default">Porovnat ministerstva</a>
        <a href="/porovnat/subjekty?ico=@(HlidacStatu.Lib.StaticData.KrajskeUradyCache.Get().Select(i=>i.ICO).Aggregate((f,s)=> f+","+s))&title=@Url.Encode("Porovnání krajských úřadů")" class="btn btn-default">Porovnat krajské úřady</a>
        <a href="/porovnat/subjekty?ico=@(HlidacStatu.Lib.StaticData.VysokeSkolyCache.Get().Select(i=>i.ICO).Aggregate((f,s)=> f+","+s))&title=@Url.Encode("Porovnání vysokých škol")" class="btn btn-default">Porovnat vysoké školy</a>
        <a href="/porovnat/subjekty?ico=00066001,00090450,70947023,70946078,72053119,00080837,70971641,27502988,00085031,70932581,70960399,00095711,26913453,03447286,25396544,60733098&title=@Url.Encode("Porovnání krajských správ silnic")" class="btn btn-default">
        Porovnat krajské správy silnic
        </a>
        <a class="btn btn-default" href="/porovnat/subjekty?ico=00064165,00064173,00064203,00098892,00159816,00179906,00669806,00843989,25488627,26365804,27283933,27661989,65269705,27283518,26000202,00023736,00023884,27256391,61383082,27256537,00023001,27520536,26068877,47813750,00064211,00209805,27660915,00635162,27256456,00090638,00092584,00064190&title=@Url.Encode("Porovnání velkých nemocnic v ČR")">
            Porovnat velké nemocnice
        </a>
        <a class="btn btn-default" href="/porovnat/subjekty?ico=65269705,00179906,00669806,00098892,00843989,00064165,00064203,00159816,00064173&title=@Url.Encode("Porovnání fakultních nemocnic v ČR")">
            Porovnat fakultní nemocnice
        </a>
    </div>
    <div class="col-xs-12">
        <div style="border-color: #ddd;border-width: 1px;border-radius: 4px 4px 0 0;-webkit-box-shadow: none;box-shadow: none;">
            <form action="/porovnat/special?&title=@Url.Encode("Porovnání měst v krajích")" method="get" class="form-inline">
                <select name="specialvalue" class="form-control">
                    <option value="">(vyberte kraj)</option>
                    @Html.Raw(HlidacStatu.Lib.StaticData.MestaPodleKraju.Keys.OrderBy(k=>k).Select(k => $"<option value='{k}'>{k}</option>").Aggregate((f, s) => f + s))
                </select>
                <button type="submit" name="specialtype" value="mestavkraji" class="btn btn-default">Porovnat města v kraji</button>
            </form>
        </div>
    </div>
</div>


<h2>Porovnat firmy</h2>
<p>Vložte seznam IČ firem, které chcete porovnat. IČ oddělte mezerou, čárkou nebo středníkem.</p>
<form method="post" action="/porovnat/subjekty">
    <div class="row">

        <div class="form-group col-md-8">
            <label for="exampleInputEmail1">IČ firem</label>
            <textarea class="form-control" st id="ico" name="ico" cols="4"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <button type="submit" class="btn btn-default">Odeslat</button>
        </div>
    </div>
</form>
