@model string[]

@using Nest
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib;


@{

    ViewBag.Title = string.IsNullOrEmpty(Request.QueryString["title"]) ? "Porovnání organizací" : Request.QueryString["title"];
    ViewBag.SubTitle = "";



}
@section scripts
    {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    @Scripts.Render("~/bundles/highcharts")

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/porovnat">Porovnání a analýzy</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@Html.Action((string)ViewBag.NameOfView)
