@{
    ViewBag.Title = "Ceník nadstandardních služeb - právní pomoc";
}
@section scripts
{
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }

    <h2>Právní pomoc placené služby "Kompletní"</h2>
    <p>
        Součástí placené služby "Kompletní" je 10 právních konzultací a kontrola 10 smluv dle Vašich potřeb.
    </p>
    <p>
        S předplacenou službou nepotřebujete nic dalšího domlouvat a dostanete rychlou odpověď kvalifikovaných právníků z týmu, který pomáhal s přípravou zákona o registru smluv a jsou autory nejobsáhlejšího komentáře k zákonu o registru smluv vydaného nakladatelstvím C.H. Beck.

    </p>
    <h2> Jak služba funguje?</h2>
    <p>
        <ul class="list-group">
            <li class="list-group-item">Na telefonu máte právníka-experta, a to každý pracovní den od 9:00 do 17:00. Pokud si nevíte rady s uveřejňováním smlouvy, zavoláte a odpověď dostanete obratem.</li>
            <li class="list-group-item">
                Na právníka se můžete obrátit také e-mailem nebo pomocí webového formuláře a na Váš dotaz odpovíme do následujícího pracovního dne.
            </li>
            <li class="list-group-item">
                Pokud potřebujete zkontrolovat obsah smlouvy, např. identifikovat obchodní tajemství a další údaje, které by měly být začerněny, zašlete nám svou smlouvu a naši právníci Vám ji nejdéle do tří pracovních dnů zkontrolují.
            </li>

        </ul>
    </p>

    <h2>Cena objednávek nad rámec předplacených 10 objednávek</h2>
    <ul class="list-group">
        <li class="list-group-item">
            Dílčí jednoduché dotazy: <b>900 Kč</b> (plus DPH 21%)
        </li>
        <li class="list-group-item">
            Kontrola 1 smlouvy (do 50 stran): <b>1850 Kč</b> (plus DPH 21 %)
        </li>
        <li class="list-group-item">
            Komplexní řešení: individuální nabídka
        </li>
    </ul>


    <a href="/cenik" class="btn btn-primary btn-lg">Zpět na ceník</a>