@using HlidacStatu.Lib

@using HlidacStatu.Web.Framework

@{
    ViewBag.Title = "";

}

<h2>Current time: @(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.ffff"))</h2>


@using (Html.IfInRoles(this.User, "Admin"))
{
    <b>xxx</b>
}

<img src="~/Content/kindex/iconD.svg" style="height:30px" />
<br />
<img src="~/Content/kindex/iconD.svg" style="height:130px" />

@Html.Action("CachedAction_Child_debug", new { model = "", NameOfView = "tmp_child", key = "1", auth = this.User.Identity.IsAuthenticated })

<div class="row">

    <div class="col-xs-3 ">
        <div class="low-box">
            <p>malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="line"><a href="#" class="more">Read More</a></p>
        </div>
    </div>
</div>

@Util.DynamicModal("/api/v1/modalclassification/234234")



<div class="clearfix"></div>

