@model HlidacStatu.Lib.Data.Firma

@using Nest;
@using HlidacStatu.Web.Framework;
@using System.Collections.Generic;
@using System.Linq;
@using System;
@using System.Data;
@using HlidacStatu.Lib.Render;
@using HlidacStatu.Lib.Data;

@{
    Layout = null;
    ViewBag.Title = "Další informace " + Model.Jmeno;
}


    @* První sloupec *@
    <div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">

        @if (Model.KategorieOVM().Count() > 0)
        {
            <div>
                <h4>Kategorie OVM (orgánů veřejné moci)</h4>
                <p class="text-muted sub-header-info">Všechny kategorie, ve kterých je úřad veden v RPP (Registr práv a povinností). </p>
                @foreach (var cat in Model.KategorieOVM())
                {
                    <div>@(cat.nazev)&nbsp;<a href="/HledatFirmy?q=kategorieid:@(cat.id)&subtitle=@(System.Net.WebUtility.UrlEncode($"Subjekty v kategorii {cat.nazev}"))"><i title="Najít další organizace v této kategorii" alt="Najít další organizace v této kategorii" class="fas fa-search"></i></a></div>
                }
            </div>
        }


        @if (HlidacStatu.Lib.StaticData.OrganizacniStrukturyUradu.Get().TryGetValue(Model.ICO, out var podrizeneOrg))
        {
            <div>
                <h4>Organizační struktura</h4>
                <ul>
                    @foreach (var org in podrizeneOrg)
                    {
                        <li><a href="/subjekt2/OrganizacniStruktura/@Model.ICO?orgId=@org.id">@org.oznaceni</a></li>
                    }
                </ul>
            </div>
            <hr />
        }

        @{
            var sponzoring = Model.Events(e => e.Type == (int)FirmaEvent.Types.Sponzor)
                .GroupBy(s => (rok: s.DatumOd?.Year ?? 0, ico: s.Description),
                (key, val) => (Rok: key.rok, Ico: key.ico, Dar: val.Sum(x => x.AddInfoNum ?? 0)))
                .ToList();

            var sponzoringData = new ReportDataSource<(int Rok, string Ico, decimal Dar)>(
                new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column[]
                {
                    new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column()
                    {
                        Name = "Rok",
                        CssClass = "number",
                        HtmlRender = (x) => x.Rok.ToString(),
                        TextRender = (x) => x.Rok.ToString()

                    },
                    new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column()
                    {
                        Name = "Politická strana",
                        HtmlRender = (x) =>
                        $"<a href=\"/subjekt2/{x.Ico}\">{HlidacStatu.Lib.Data.Firmy.GetJmeno(x.Ico)}</a>"
                    },
                    new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column()
                    {
                        Name = "Celkem darovali",
                        TextRender = (x) => $"{x.Dar.ToString("N0")} Kč",
                        HtmlRender = (x) => $"{x.Dar.ToString("N0")}&nbsp;Kč",
                        OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Dar),
                        CssClass = "number"
                    },

                });
            foreach (var dar in sponzoring)
            {
                sponzoringData.AddRow(dar);
            }
            sponzoringData.Title = "Přehled darů politickým stranám";
        }
        @if (sponzoring.Count > 0)
        {
            <div>
                <h4>Sponzorství politických stran</h4>
                @Html.DataToHTMLTable(sponzoringData)
            </div>
        }

    </div>
