@model HlidacStatu.Lib.Data.Firma

@using Nest;
@using HlidacStatu.Lib.Render;
@using HlidacStatu.Web.Framework;
@using System.Collections.Generic;
@using System.Linq;

@{ 
    ViewBag.Title = Model.Jmeno;
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Úřady a firmy</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}



<div class="head">
    <h3>Nastavení ředitele pro @Model.Jmeno</h3>
</div>

<div>
    @{
        var companyDotace = Model.Events(e => e.)

        var reportData = new ReportDataSource<(int Rok, decimal CerpanoCelkem)>(
            new ReportDataSource<(int Rok, decimal CerpanoCelkem)>.Column[]
            {
                            new ReportDataSource<(int Rok, decimal CerpanoCelkem)>.Column()
                            {
                                Name = "Rok",
                                CssClass = "number",
                                HtmlRender = (x) => x.Rok.ToString(),
                                TextRender = (x) => x.Rok.ToString()

                            },
                            new ReportDataSource<(int Rok, decimal CerpanoCelkem)>.Column()
                            {
                                Name = "Čerpáno",
                                TextRender = (x) => $"{x.CerpanoCelkem.ToString("N0")} Kč",
                                HtmlRender = (x) => $"{x.CerpanoCelkem.ToString("N0")}&nbsp;Kč",
                                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.CerpanoCelkem),
                                CssClass = "number"
                            },
                            new ReportDataSource<(int Rok, decimal CerpanoCelkem)>.Column()
                            {
                                Name = "Detaily",
                                HtmlRender = (x) =>
                                $"<a href=\"/dotace/hledat?Q=ico:{Model.Firma.ICO} AND rozhodnuti.cerpani.guessedYear:{x.Rok}\">Dotace za rok {x.Rok}</a>"
                            }
}
        );

        foreach (var dot in companyDotace)
        {
            reportData.AddRow(dot);
        }
        reportData.Title = "Přehled čerpání dotací společnosti";
    }

    @Html.DataToHTMLTable(reportData)
</div>
  