@model HlidacStatu.Lib.ES.VerejnaZakazkaSearchData
@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;

@{
    ViewBag.Title = "Hlídač veřejných zakázek";
    ViewBag.SubTitle = "Poslední IT zakázky";

    // get /verejnezakazky/_search?q=cPV:(72* OR 64216* OR 791211* OR 48* OR 50312*)

    var client = HlidacStatu.Lib.ES.Manager.GetESClient_VZ();

    Model.Q = "";
    Model.CPV = new string[] { "72", "64216", "791211", "48", "50312" };
    Model.Order = ((int)HlidacStatu.Lib.ES.VerejnaZakazkaSearchData.VZOrderResult.DateAddedDesc).ToString();
    Model.PageSize = 50;


    var res = HlidacStatu.Lib.Data.VZ.VerejnaZakazka.Searching.SimpleSearch(Model);


    //client.Search<HlidacStatu.Lib.Data.VZ.VerejnaZakazka>(s => s
    //   .Size(500)
    //   .Sort(so => so.Descending(d => d.DatumUverejneni))
    //   .Query(q => q
    //       .QueryString(qs => qs
    //           .Query("cPV:(72* OR 64216* OR 791211* OR 48* OR 50312*)")
    //      )
    //   )
    //);


}

<div class="row">
    <div class="col-xs-10 col-lg-offset-1">
        <div class="alert alert-orange text-center" role="alert">Tento hlídač ještě <strong>není hotový</strong>. Pracujeme na něm.</div>
    </div>
</div>

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Index","VZ")">Hlídač Veřejných zakázek</a></li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
    }


    @Html.Partial("_SearchResult", res)





