@model HlidacStatu.Lib.Render.ReportDataSource<HlidacStatu.Lib.Data.Sponsors.Sponzorstvi<HlidacStatu.Lib.Data.Bookmark.IBookmarkable>>[]

@using Devmasters
@using HlidacStatu.Lib
@using System.Linq;
@using HlidacStatu.Web.Framework

@{
    Layout = null;

    ViewBag.Title = "Největší sponzoři politických stran";
    ViewBag.SubTitle = "za posledních 10 let";

    ViewBag.ShowBookmarkUrl = true;

}

<div class="row">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#osoby" aria-controls="firmy" role="tab" data-toggle="tab">Sponzorující osoby (@HlidacStatu.Util.RenderData.NiceNumber(Model[0]?.Data?.Count ?? 0))</a></li>
            <li role="presentation"><a href="#firmy" aria-controls="firmy" role="tab" data-toggle="tab">Sponzorující firmy (@HlidacStatu.Util.RenderData.NiceNumber(Model[1]?.Data?.Count ?? 0))</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="osoby">
                <div class="col-xs-12">
                    <h3>Sponzorující osoby</h3>
                    @Html.Raw(
                              UtilChart.RenderReportTableT<HlidacStatu.Lib.Data.Sponsors.Sponzorstvi<HlidacStatu.Lib.Data.Bookmark.IBookmarkable>>("Sponzorující osoby", Model[0], @"{
                                 'language': {
                                    'url': '//cdn.datatables.net/plug-ins/1.10.12/i18n/Czech.json'
                                },
                                'paging': true,
                                'pageLength': 15,
                                'order': [1,'desc'],
                                'lengthChange': false,
                                'info': false
                                }"))
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="firmy">

                <div class="col-xs-12">
                    <h3>Sponzorující firmy</h3>
                    @Html.Raw(
                              UtilChart.RenderReportTableT<HlidacStatu.Lib.Data.Sponsors.Sponzorstvi<HlidacStatu.Lib.Data.Bookmark.IBookmarkable>>("Sponzorující firmy", Model[1], @"{
                                 'language': {
                                    'url': '//cdn.datatables.net/plug-ins/1.10.12/i18n/Czech.json'
                                },
                                'paging': true,
                                'pageLength': 15,
                                'order': [1,'desc'],
                                'lengthChange': false,
                                'info': false
                                }"))
                </div>

            </div>
        </div>

    </div>



</div>
