<div style="position:relative">
    <label for="findKindexCompany">Chcete-li najít K-Index konkrétní firmy, použijte tento vyhledávací box</label>
    <input placeholder="Najít úřad/firmu" type="text" name="findKindexCompany" id="findKindexCompany" class="form-control companyahead input-lg" oninput="FindCompany(this)" />
    <div class="loading-spinner" style="display:none">
    </div>
    <div id="companies">

    </div>

</div>

<style>
    .whisp {
        width: 100%;
        text-align: left;
        background-color: white;
        border-left: 2px grey solid;
        border-top: 0px;
        border-bottom: 1px grey dotted;
        border-right: 2px grey solid;
        padding-bottom: 2px;
    }

        .whisp:focus {
            background-color: lightblue;
        }

    .loading-spinner {
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;

        position: absolute;
        top: 29px;
        right: 20px;
        z-index: 10;
    }


    @@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    #companies {
        margin-bottom: 10px;
        position:absolute;
        z-index: 10;
    }

</style>

<script>

    function FindCompany(caller) {
        let req = "/kindex/findcompany/" + caller.value;
        $.get(req, function (data) {
            EmptyCompanies();
            data.forEach(comp => {
                var button = $('<button/>',
                    {
                        text: comp.Name,
                        class: 'whisp',
                        click: function () { NavigateToDetail(comp.Ico, comp.Name); EmptyCompanies(); }
                    });

                $("#companies").append(button);
            });
        }, "json");
        Navigate();
    }

    function EmptyCompanies() {
        $('#companies').empty();
    }

    function CleanSearchBox() {
        $('#findKindexCompany').val("").focus();
    }

    function NavigateToDetail(ico, name) {
        $('#findKindexCompany').val(name);
        $('.loading-spinner').show();
        window.location.href = `/kindex/detail/${ico}`
    }

    function Navigate() {

        var index = -1;

        jQuery(parent).on('keydown', function (e) {
            var checkboxes = $('#companies').find('button.whisp');
            if (e.keyCode == 38) {
                if (index > 0) {
                    index = index - 1;
                }
                checkboxes[index].focus();
                e.preventDefault();
                e.stopPropagation();
            }
            else if (e.keyCode == 40) {
                if (index < checkboxes.length - 1) {
                    index = index + 1;
                    e.preventDefault();
                    e.stopPropagation();
                }
                else {
                    index = checkboxes.length - 1;
                }
                checkboxes[index].focus();
            }
            else if (e.keyCode == 27) {
                EmptyCompanies();
                CleanSearchBox();
            }

        });
    }


</script>