@model (string id, int? rok)

@using Devmasters.Core;
@using HlidacStatu.Lib.Analysis.KorupcniRiziko;
@using HlidacStatu.Web.Framework;
@using System.Linq;


@{
    string ukazatTxt = "ukázat detail";
    string schovatTxt = "schovat detail";

}


@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    <script src="/scripts/highcharts-6/highcharts-more.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/treemap.js"></script>
    <script>
        // Radialize the colors
        Highcharts.setOptions({
            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.5,
                        cy: 0.3,
                        r: 0.7
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            })
        });

$(document).ready(function(){

    $("#sel_obory").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".boxobor").not("." + optionValue).hide();
                $(".boxobor." + optionValue).show();
                InitLowBox();
            } else{
                $(".boxobor").hide();
            }
        });
    }).change();
});
    function showHelp(btn, id) {
        var visible = $(btn).text().includes('@ukazatTxt');
        if (visible) {
            $(id).show(300, function(){ InitLowBox(); });
            $(btn).text('@schovatTxt');
        }
        else {
            $(id).hide(300);
            $(btn).text('@ukazatTxt');
        }
    }
    </script>

    <style>

        .infoshow, .infoshowhide {
            display: none;
        }

            .infoshow:checked ~ .infoshowhide {
                display: block;
            }

        .kmeter {
            margin: 0px;
            padding: 30px;
            height: 110px;
            width: 620px;
            border: solid grey 0px;
        }

        .kframe {
            position: relative;
            width: 60px;
            border-top: solid 6px;
            border-bottom: solid 6px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 100%;
            float: left;
            margin-right: 1px;
            height: 100%;
        }

        .kmark {
            color: #909090;
            font-weight: bold;
            position: relative;
            z-index: 100;
            background: white;
            display: inline-block;
            top: -3px;
            line-height: 10px;
            font-size: 13px;
            font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace !important;
            padding: 0 3px 0 3px;
            margin: 0;
        }

        .kmarkvalue {
            color: #000;
            font-weight: bold;
            position: relative;
            z-index: 100;
            background: white;
            display: inline-block;
            top: -3px;
            line-height: 10px;
            font-size: 13px;
            font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace !important;
            padding: 0 3px 0 3px;
            margin: 0;
        }

        .textover {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            z-index: 2;
            text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
            -moz-text-shadow: 0 0 4px #000;
            -webkit-text-shadow: 0 0 4px #000;
        }

        .totalnumber {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            width: 100%;
            color: black;
            font-weight: bold;
            font-size: 25px;
            position: absolute;
            z-index: 5;
        }

        .apart {
            border-color: #002d5a;
            border-left: #002d5a solid 6px;
            padding-left: 5px;
        }

        .bpart {
            border-color: #0064b4;
        }

        .cpart {
            border-color: #00a5ff;
        }

        .dpart {
            border-color: #9099a3;
        }

        .epart {
            border-color: #f0aa00;
        }

        .fpart {
            border-color: #d44820;
            border-right: #d44820 solid 6px;
            padding-right: 5px;
            width: 180px;
        }

        .kfill {
            position: relative;
            height: 100%;
        }

        .afill {
            background-color: #002d5a;
        }

        .bfill {
            background-color: #0064b4;
        }

        .cfill {
            background-color: #00a5ff;
        }

        .dfill {
            background-color: #9099a3;
        }

        .efill {
            background-color: #f0aa00;
        }

        .ffill {
            background-color: #d44820;
        }
    </style>

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/kindex">K–Index</a></li>
        <li>Podrobně</li>
        <li class="active">@(ViewBag.Title + " " + ViewBag.SubTitle)</li>
    </ol>
}

@Html.Action("Detail_child", new
{
    id = Model.id,
    rok = Model.rok
})

