@using Devmasters.Core
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Analysis
@using System.Linq;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Web.Models;

@{
    ViewBag.Title = "K-Index";
}


@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<style>
    .barbar {
        display:block;
        margin:0px;
        padding:0px;
        height:20px;
        float:left;
    }

    .barbar.cla {
        position: absolute;
        margin-left: 0px;
    }
    .barbar.clb {
        position: absolute;
        margin-left: 30px;
    }
    .barbar.clc {
        position: absolute;
        margin-left: 60px;
    }
    .barbar.cld {
        position: absolute;
        margin-left: 90px;
    }
    .barbar.cle {
        position: absolute;
        margin-left: 120px;
    }
    .barbar.clf {
        position: absolute;
        margin-left: 150px;
    }

    .barbar.red {
        background-color: red;
    }

    .barbar.orange {
        background-color: orange;
    }

    .barbar.green {
        background-color: green;
    }

 </style>

<style>
    .kmeter {
        margin: 0px;
        padding: 0px;
        height: 60px;
        width: 800px;
        border: solid grey 0px;
    }

    .kframe {
        position: relative;
        width: 60px;
        border-top: solid 6px;
        border-bottom: solid 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        float: left;
        margin-right: 6px;
        height: 100%;
    }

    .textover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        z-index: 2;
        text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 4px #000;
        -webkit-text-shadow: 0 0 4px #000;
    }

    .totalnumber {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        z-index: 5;
    }

    .apart {
        border-color: #002d5a;
        border-left: #002d5a solid 6px;
        padding-left: 5px;
    }

    .bpart {
        border-color: #0064b4;
    }

    .cpart {
        border-color: #00a5ff;
    }

    .dpart {
        border-color: #9099a3;
    }

    .epart {
        border-color: #f0aa00;
    }

    .fpart {
        border-color: #d44820;
        border-right: #d44820 solid 6px;
        padding-right: 5px;
        width: 240px;
    }

    .kfill {
        position: relative;
        height: 100%;
    }

    .afill {
        background-color: #002d5a;
    }

    .bfill {
        background-color: #0064b4;
    }

    .cfill {
        background-color: #00a5ff;
    }

    .dfill {
        background-color: #9099a3;
    }

    .efill {
        background-color: #f0aa00;
    }

    .ffill {
        background-color: #d44820;
    }
</style>




<br />
<div class="kmeter">
    <div class="kframe apart">
        <div class="kfill">
            <div class="textover">A</div>
            <div class="kfill afill" style="width: 100%"></div>
        </div>
    </div>
    <div class="kframe bpart">
        <div class="kfill">
            <div class="textover">B</div>
            <div class="kfill bfill" style="width: 100%"></div>
        </div>
    </div>
    <div class="kframe cpart">
        <div class="kfill">
            <div class="textover">C</div>
            <div class="kfill cfill" style="width: 100%"></div>
        </div>
    </div>
    <div class="kframe dpart">
        <div class="kfill">
            <div class="textover">D</div>
            <div class="kfill dfill" style="width: 20%"></div>
        </div>
    </div>
    <div class="kframe epart">
        <div class="kfill">
            <div class="textover">E</div>
            <div class="kfill efill" style="width: 50%"></div>
        </div>
    </div>
    <div class="kframe fpart">
        <div class="kfill">
            <div class="textover">F</div>
            <div class="totalnumber">27,19</div>
            <div class="kfill ffill" style="width: 30%"></div>
        </div>
    </div>
</div>
<br />

<div class="col-md-12">
    <table class="table table-new table-new--dotted table-hover">
        <tbody>
            <tr>
                <td>
                    <b>Rok 2019</b>
                </td>
                <td>
                    <b>%</b>
                </td>
                <td>
                    <b>Váha</b>
                </td>
                <td>
                    <b>Celkové zastoupení</b>
                </td>
            </tr>
            <tr>
                <td>
                    smlouvy se skrytou cenou
                </td>
                <td style="width:100px">
                    <div>
                        <div class="barbar green" style="width:14%"></div>
                        <div style="float:right">14</div>
                    </div>
                </td>
                <td style="text-align:right">
                    10
                </td>
                <td style="text-align:right">
                    140
                </td>
            </tr>
            <tr>
                <td>
                    smlouvy s nově založenými firmami
                </td>
                <td style="width:100px">
                    <div class="barbar orange" style="width:17%"></div>
                    <div style="float:right">17</div>
                </td>
                <td style="text-align:right">
                    2
                </td>
                <td style="text-align:right">
                    34
                </td>
            </tr>
            <tr>
                <td>
                    smlouvy se zásadním nedostatkem
                </td>
                <td>
                    <div class="barbar red" style="width:73%"></div>
                    <div style="float:right">73</div>
                </td>
                <td style="text-align:right">
                    10
                </td>
                <td style="text-align:right">
                    730
                </td>
            </tr>
            <tr>
                <td>
                    smlouvy s firmami s vazbou na politiky
                </td>
                <td>
                    <div class="barbar red" style="width:38%"></div>
                    <div style="float:right">38</div>
                </td>
                <td style="text-align:right">
                    2
                </td>
                <td style="text-align:right">
                    76
                </td>
            </tr>
            <tr>
                <td>
                    smlouvy s cenou u limitu VZ
                </td>
                <td>
                    <div class="barbar green" style="width:1%"></div>
                    <div style="float:right">1</div>
                </td>
                <td style="text-align:right">
                    10
                </td>
                <td style="text-align:right">
                    10
                </td>
            </tr>
            <tr>
                <td>
                    smlouvy uzavřené o víkendu
                </td>
                <td>
                    <div class="barbar green" style="width:5%"></div>
                    <div style="float:right">5</div>
                </td>
                <td style="text-align:right">
                    2
                </td>
                <td style="text-align:right">
                    10
                </td>
            </tr>
            <tr>
                <td>
                    Koncentrace dodavatelů
                </td>
                <td>
                    <div class="barbar red" style="width:18%"></div>
                    <div style="float:right">18</div>
                </td>
                <td style="text-align:right">
                    20
                </td>
                <td style="text-align:right">
                    360
                </td>
            </tr>
            <tr>
                <td>
                    Koncentrace dodavatelů bez uvedené ceny
                </td>
                <td>
                    <div class="barbar green" style="width:0%"></div>
                    <div style="float:right">0</div>
                </td>
                <td style="text-align:right">
                    20
                </td>
                <td style="text-align:right">
                    0
                </td>
            </tr>
            <tr>
                <td>
                    Koncentrace dodavatelů - ceny u limitu VZ
                </td>
                <td>
                    <div class="barbar orange" style="width:18%"></div>
                    <div style="float:right">18</div>
                </td>
                <td style="text-align:right">
                    10
                </td>
                <td style="text-align:right">
                    180
                </td>
            </tr>
        </tbody>
    </table>
</div>
