@*@using Devmasters.Core;*@
@using HlidacStatu.Lib.Data;
@using HlidacStatu.Lib.Analysis;
@using System.Linq;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Util;
@using Devmasters.Enums;

@{
    ViewBag.Title = "K–Index";
}


@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">
        <!-- Štítek -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Co je K-Index
                </h2>
            </div>

            <div class="block-col ">
                <p class="muted">
                    Index korupčního rizika - zkráceně K–Index, je ukazatel, který ukazuje míru rizikových faktorů, které jsou spojeny s nehospodárným nakládáním s veřejnými penězi a rizikem korupce.
                </p>
                <p>
                    <img src="/content/Img/kindex-info.png" style="width:100%;" title="Popis K-Indexu" />
                </p>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex" class="btn btn-default btn-default-new">Sem nejspíš odkaz na blog, nebo článek o kindexu</a>
            </div>
        </div>

        <!-- Žebříček -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Žebříčky
                </h2>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Hlavní žebříčky
                </div>
                <div class="block-tags">
                    <a href="/kindex/zebricek/nejlepsi" class="tag">Nejlepší organizace</a>
                    <a href="/kindex/zebricek/nejhorsi" class="tag">Nejhorší organizace</a>
                    <a href="/kindex/zebricek/celkovy" class="tag">Všechny organizace</a>
                    <a href="/kindex/zebricek/skokani" class="tag">Skokani</a>
                </div>
            </div>

            @{ string[] groupFilter = new[] { "Justice", "Samospráva", "Školství" }; }
            @foreach (var g in Devmasters.Enums.EnumTools.Groups(typeof(Firma.Zatrideni.StatniOrganizaceObor))
            .Except(groupFilter))
            {
                <div class="block-col block-part">
                    <div class="block-subtitle">
                        @g
                    </div>
                    <div class="block-tags">
                        @foreach (var item in Devmasters.Enums.EnumTools.InGroup(typeof(Firma.Zatrideni.StatniOrganizaceObor), g))
                        {
                            <a href="/kindex/zebricek/@item.ToString()" class="tag">@(item.ToNiceDisplayName())</a>
                        }
                    </div>
                </div>
            }

            <div class="block-button-wrapper">
                <a href="/kindex/zebricek" class="btn btn-default btn-default-new">zobrazit ostatní žebříčky</a>
            </div>
        </div>

        <!-- Organizace dne -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Organizace dne
                </h2>
            </div>

            <div class="block-col ">
                @{
                    var todaysOrg = HlidacStatu.Lib.Analysis.KorupcniRiziko.Statistics
                        .GetStatistics(2019).SubjektOrderedListKIndexAsc.TipOfTheDay();
                }
                <div>

                    <a href="/kindex/detail/@todaysOrg.ico">
                        <img src="/socialbanner/kindex?v=@todaysOrg.ico" style="width:100%;max-width:500px;min-width:150px;height:auto;margin-left:auto;margin-right:auto;display:block;" />
                    </a>
                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex/detail/@todaysOrg.ico" class="btn btn-default btn-default-new">Jak jsme Index korupčního rizika spočítali</a>
            </div>
        </div>


        <!-- Porovnání -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Porovnávač
                </h2>
            </div>

            <div class="block-col ">
                <p>
                    Můžete si také porovnat jednotlivé složky kindexu u organizací mezi sebou.
                </p>
                <a href="/kindex/porovnat/47609109,60162694,00007064,66002222,45769851,00164801,00551023,00022985,00025429,00024341,66003008,00020478,00023671,00006947">Ministerstva</a>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex/porovnat" class="btn btn-default btn-default-new">zobrazit vybraná porovnání</a>
            </div>
        </div>
    </div>
</div>