@using HlidacStatu.Lib.Data;
@using HlidacStatu.Lib.Analysis;
@using System.Linq;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Util;
@using Devmasters.Enums;

@{
    ViewBag.Title = "K–Index";
}


@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">
        <!-- Štítek -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Co je K-Index
                </h2>
            </div>

            <div class="block-col ">
                <p class="muted">
                    Index korupčního rizika - zkráceně K–Index, je ukazatel, který ukazuje míru rizikových faktorů, které jsou spojeny s nehospodárným nakládáním s veřejnými penězi a rizikem korupce.
                </p>
                <p>
                    <img src="/content/Img/kindex-info.png" style="width:100%;" title="Popis K-Indexu" />
                </p>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex" class="btn btn-default btn-default-new">Sem nejspíš odkaz na blog, nebo článek o kindexu</a>
            </div>
        </div>

        <!-- Žebříček -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Žebříčky
                </h2>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Hlavní žebříčky
                </div>
                <div class="block-tags">
                    <a href="/kindex/zebricek/nejlepsi" class="tag">Nejlepší organizace</a>
                    <a href="/kindex/zebricek/nejhorsi" class="tag">Nejhorší organizace</a>
                    <a href="/kindex/zebricek/celkovy" class="tag">Všechny organizace</a>
                    <a href="/kindex/zebricek/skokani" class="tag">Skokani</a>
                </div>
            </div>

            @{ string[] groupFilter = new[] { "Justice", "Samospráva", "Školství" }; }
            @foreach (var g in Devmasters.Enums.EnumTools.Groups(typeof(Firma.Zatrideni.StatniOrganizaceObor))
            .Except(groupFilter))
            {
                <div class="block-col block-part">
                    <div class="block-subtitle">
                        @g
                    </div>
                    <div class="block-tags">
                        @foreach (var item in Devmasters.Enums.EnumTools.InGroup(typeof(Firma.Zatrideni.StatniOrganizaceObor), g))
                        {
                            <a href="/kindex/zebricek/@item.ToString()" class="tag">@(item.ToNiceDisplayName())</a>
                        }
                    </div>
                </div>
            }

            <div class="block-button-wrapper">
                <a href="/kindex/zebricek" class="btn btn-default btn-default-new">zobrazit ostatní žebříčky</a>
            </div>
        </div>

        <!-- Organizace dne -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Organizace dne
                </h2>
            </div>

            <div class="block-col ">
                <p class="muted">
                    Náhodně vybraný štítek Indexu korupčního rizika pro dnešní den.
                </p>
                @{
                    var todaysOrg = HlidacStatu.Lib.Analysis.KorupcniRiziko.Statistics
                        .GetStatistics(2019).SubjektOrderedListKIndexAsc.TipOfTheDay();
                }
                <div>

                    <a href="/kindex/detail/@todaysOrg.ico">
                        <img src="/socialbanner/kindex?v=@todaysOrg.ico" style="width:80%;max-width:500px;min-width:150px;height:auto;margin-left:auto;margin-right:auto;display:block;" />
                    </a>
                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex/detail/@todaysOrg.ico" class="btn btn-default btn-default-new">Jak jsme Index korupčního rizika spočítali</a>
            </div>
        </div>


        <!-- Porovnání -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Porovnávač
                </h2>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Můžete si také porovnat jednotlivé složky kindexu u organizací mezi sebou.
                </div>
                <div class="block-tags">
                    <a href="/kindex/porovnat/00006947,70856508,70994234,65993390,00064581" class="tag">Subjekty s největším objemem smluv</a>
                    <a href="/kindex/porovnat/47114983,65269705,00064165,70994234,00098892" class="tag">Subjekty s největším počtem smluv</a>
                    <a href="/kindex/porovnat/47114983,42196451,00000205,00000493,00000515" class="tag">Největší státní podniky</a>
                    <a href="/kindex/porovnat/70889953,70890013,70889988,70890021,70890005" class="tag">Povodí</a>
                    <a href="/kindex/porovnat/29372259,24272523,00001490,00023817,86652052" class="tag">Státní ústavy</a>
                    <a href="/kindex/porovnat/65993390,71214011,72080043,67981801" class="tag">Ředitelství</a>
                    <a href="/kindex/porovnat/60193531,28244532,60193468,26463318" class="tag">Akciové společnosti vlastněné státem</a>
                    <a href="/kindex/porovnat/68378271,61388971,67985823,67985939,68081707" class="tag">Vybrané ústavy AV</a>

                    <a href="/kindex/porovnat/66362768,00263338,00069922,00023281,00094871" class="tag">Vybrané galerie</a>
                    <a href="/kindex/porovnat/00023272,00023299,00100595,00094862,00100609" class="tag">Vybraná muzea</a>

                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex/porovnat/" class="btn btn-default btn-default-new">Vytvořit vlastní porovnání</a>
            </div>
        </div>
    </div>
</div>