@using Devmasters.Core
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Analysis
@using System.Linq;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Web.Models;

@{
    ViewBag.Title = "K–Index";
}


@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">
        <!-- Štítek -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    O K-indexu
                </h2>
            </div>

            <div class="block-col ">
                <p>
                    Tady bude obrázek k indexu a co to je
                </p>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex" class="btn btn-default btn-default-new">Sem nejspíš odkaz na blog, nebo článek o kindexu</a>
            </div>
        </div>

        <!-- Žebříček -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Žebříčky
                </h2>
            </div>

            <div class="block-col ">
                <a href="/kindex/zebricek/nejlepsi">Nejlepší organizace</a>
                <a href="/kindex/zebricek/nejhorsi">Nejhorší organizace</a>
            </div>

            <div class="block-button-wrapper">
                <a href="/kindex/zebricek" class="btn btn-default btn-default-new">zobrazit všechny žebříčky</a>
            </div>
        </div>

        <!-- Porovnání -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Porovnávač
                </h2>
            </div>

            <div class="block-col ">
                <p>
                    Můžete si také porovnat jednotlivé složky kindexu u organizací mezi sebou.
                </p>
                <a href="/kindex/porovnat/47609109,60162694,00007064,66002222,45769851,00164801,00551023,00022985,00025429,00024341,66003008,00020478,00023671,00006947">Ministerstva</a>
            </div>

            <div class="block-button-wrapper">
                <a href="/osoby" class="btn btn-default btn-default-new">zobrazit vybraná porovnání</a>
            </div>
        </div>
    </div>
</div>