@model  (string id,int? rok,string group,string kraj)

@using Devmasters;
@using HlidacStatu.Lib.Analysis.KorupcniRiziko;
@using HlidacStatu.Web.Framework;
@using System.Linq;
@using System.Text.RegularExpressions;

@{
    int? selectedYear = ViewBag.SelectedYear;
    string selectedGroup = ViewBag.SelectedGroup;
    string selectedKraj = ViewBag.SelectedKraj;

    

    ViewBag.Title = ViewBag.LadderTitle + " pro " + ViewBag.SelectedYear;
    if (!string.IsNullOrEmpty(selectedGroup))
    {
        ViewBag.SubTitle = $"pro skupinu {selectedGroup}";
    }
    else if (!string.IsNullOrEmpty(selectedKraj))
    {
        ViewBag.SubTitle = $"pro kraj {selectedKraj}";
    }
    ViewBag.HideTitle = true;


}

@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/kindex">K–Index</a></li>
        <li><a href="/kindex/zebricek">Žebříčky úřadů a organizací</a></li>
        <li class="active">@(ViewBag.Title + " " + ViewBag.SubTitle)</li>
    </ol>
}

<style>
    .whisp {
        width: 600px;
        text-align: left;
        background: white;
        border-left: 2px grey solid;
        border-top: 0px;
        border-bottom: 1px grey dotted;
        border-right: 0px grey solid;
        padding-bottom: 2px;
    }

    #companies {
        margin-bottom: 10px;
    }
</style>


@Html.Action("Zebricek_child", new {
    id = Model.id,
    rok = Model.rok,
    kraj = Model.kraj,
    group = Model.group,
    part = Request.QueryString["part"]
})
